<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="{{'COMMON.CLOSE' | translate}}" title="{{'COMMON.CLOSE' | translate}}">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" translate="SETTINGS.DEACTIVATE_MY_ACCOUNT"></h3>
</div>
<div class="modal-body">
    <form name="form" method="POST">
        <p translate="SETTINGS.WE_ARE_SORRY_TO_SEE_YOU_GO"></p>
        <div class="form-group">
            <label translate="SETTINGS.PASSWORD"></label>
            <input type="password" class="form-control" ng-model="formData.password" required>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()" translate="COMMON.CANCEL"></button>
    <button class="btn btn-primary" type="button" ng-click="submit()">{{(deactivating ? 'SETTINGS.DEACTIVATING' : 'SETTINGS.DEACTIVATE') | translate}}</button>
</div>