<div class="panel panel-default">
    <div class="panel-heading" translate="SETTINGS.PASSWORD_SETTINGS"></div>
    <div class="panel-body">
        <uib-alert type="{{alerts.passwordForm.type}}" ng-show="alerts.passwordForm.message" close="closeAlert('passwordForm')">
            <span ng-bind-html="alerts.passwordForm.message"></span>
        </uib-alert>
        <div class="form-group" ng-class="{'has-error': fieldErrors.passwordForm.oldPassword.hasError}">
            <label for="old-password" translate="SETTINGS.OLD_PASSWORD"></label>
            <input type="password" id="old-password" name="oldPassword" class="form-control" ng-model="user.oldPassword" ng-change="fieldErrors.passwordForm.oldPassword.hasError = false" ng-minlength="6">
        </div>
        <div class="form-group" ng-class="{'has-error': fieldErrors.passwordForm.password.hasError}">
            <label for="password" translate="SETTINGS.NEW_PASSWORD"></label>
            <input type="password" id="password" name="password" class="form-control" ng-model="user.password" ng-change="fieldErrors.passwordForm.password.hasError = false" ng-minlength="6">
        </div>
        <div class="form-group" ng-class="{'has-error': fieldErrors.passwordForm.repeatPassword.hasError}">
            <label for="repeat-password" translate="SETTINGS.REPEAT_PASSWORD"></label>
            <input type="password" id="repeat-password" name="repeatPassword" class="form-control" ng-model="repeatPassword" ng-change="fieldErrors.passwordForm.repeatPassword.hasError = false" ng-minlength="6">
        </div>
    </div>
    <div class="panel-footer clearfix">
        <input type="submit" class="btn btn-primary pull-right" ng-disabled="saving" ng-click="saveSettings('passwordForm')" value="{{(saving ? 'COMMON.SAVING' : 'COMMON.SAVE_CHANGES') | translate}}">
    </div>
</div>