<div>
    <div class="actions-toolbar py-2 mb-4">
        <h5 class="mb-1" translate="SETTINGS.PASSWORD_SETTINGS"></h5>
    </div>
    <div>
        <uib-alert type="{{alerts.passwordForm.type}}" ng-show="alerts.passwordForm.message" close="closeAlert('passwordForm')">
            <span class="form-control-label" ng-bind-html="alerts.passwordForm.message"></span>
        </uib-alert>
        <div class="form-group" ng-class="{'has-error': fieldErrors.passwordForm.oldPassword.hasError}">
            <label class="form-control-label" for="old-password" translate="SETTINGS.OLD_PASSWORD"></label>
            <input type="password" id="old-password" name="oldPassword" class="form-control" ng-model="user.oldPassword" ng-change="fieldErrors.passwordForm.oldPassword.hasError = false" ng-minlength="6">
        </div>
        <div class="form-group" ng-class="{'has-error': fieldErrors.passwordForm.password.hasError}">
            <label class="form-control-label" for="password" translate="SETTINGS.NEW_PASSWORD"></label>
            <input type="password" id="password" name="password" class="form-control" ng-model="user.password" ng-change="fieldErrors.passwordForm.password.hasError = false" ng-minlength="6">
        </div>
        <div class="form-group" ng-class="{'has-error': fieldErrors.passwordForm.repeatPassword.hasError}">
            <label class="form-control-label" for="repeat-password" translate="SETTINGS.REPEAT_PASSWORD"></label>
            <input type="password" id="repeat-password" name="repeatPassword" class="form-control" ng-model="setting.repeatPassword" ng-change="fieldErrors.passwordForm.repeatPassword.hasError = false" ng-minlength="6">
        </div>
        <div class="pt-5 mt-5 delimiter-top text-right">
            <button class="btn btn-primary pull-right" ng-disabled="saving" ng-click="saveSettings('passwordForm')">
                {{(saving ? 'COMMON.SAVING' : 'COMMON.SAVE_CHANGES') | translate}}
            </button>
        </div>
    </div>
</div>