<div class="container">
    <div class="col-xs-12">
        <div class="col-md-3">
            <div class="list-group" ng-cloak>
                <a href="/settings/profile" class="list-group-item" ng-class="{'active': tab === 'profile'}" ng-cloak>
                    {{'COMMON.PROFILE' | translate}}
                    <i class="glyphicon glyphicon-chevron-right pull-right"></i>
                </a>
                <a href="/settings/account" class="list-group-item" ng-class="{'active': tab === 'account'}">
                    {{'SETTINGS.ACCOUNT' | translate}}
                    <i class="glyphicon glyphicon-chevron-right pull-right"></i>
                </a>
                <a href="/settings/password" class="list-group-item" ng-class="{'active': tab === 'password'}">
                    {{'SETTINGS.PASSWORD' | translate}}
                    <i class="glyphicon glyphicon-chevron-right pull-right"></i>
                </a>
                <a href="javascript:;" class="list-group-item list-group-item-warning" ng-click="logout()" translate="COMMON.LOGOUT"></a>
            </div>
            <div ng-include="'/app/common/views/footerLinksView.html'"></div>
        </div>
        <div class="col-md-9">
            <form method="POST" name="profileForm" ng-show="tab === 'profile'" novalidate>
                <div class="panel panel-default">
                    <div class="panel-heading" translate="SETTINGS.PROFILE_SETTINGS"></div>
                    <div class="panel-body">
                        <uib-alert type="{{alerts.profileForm.type}}" ng-show="alerts.profileForm.message" close="closeAlert('profileForm')">
                            <span ng-bind-html="alerts.profileForm.message"></span>
                        </uib-alert>
                        <div class="form-group" ng-class="{'has-error': fieldErrors.profileForm.firstName.hasError}">
                            <label for="firstName" translate="COMMON.FIRST_NAME"></label>
                            <input type="text" class="form-control" name="firstName" id="firstName" ng-model="user.firstName" ng-change="fieldErrors.profileForm.firstName.hasError = false" ng-pattern="validations.name" required>
                        </div>
                        <div class="form-group" ng-class="{'has-error': fieldErrors.profileForm.lastName.hasError}">
                            <label for="lastName" translate="COMMON.LAST_NAME"></label>
                            <input type="text" class="form-control" name="lastName" id="lastName" ng-model="user.lastName" ng-change="fieldErrors.profileForm.lastName.hasError = false" ng-pattern="validations.name" required>
                        </div>
                        <div class="form-group">
                            <label for="discipline" translate="COMMON.MAIN_DISCIPLINE"></label>
                            <select class="form-control" id="discipline" name="discipline" ng-model="user.discipline" ng-options="discipline as (discipline && 'DISCIPLINES.' + discipline.toUpperCase() || 'SETTINGS.CHOOSE_YOUR_DISCIPLINE' | translate) for discipline in disciplines"></select>
                        </div>
                        <div class="form-group">
                            <label for="country" translate="COMMON.COUNTRY"></label>
                            <select class="form-control" id="country" name="country" ng-model="user.country" ng-options="country as (country && 'COUNTRIES.' + country.toUpperCase() || 'SETTINGS.CHOOSE_YOUR_COUNTRY' | translate) for country in countries"></select>
                        </div>
                        <div class="form-group" ng-class="{'has-error': fieldErrors.profileForm.birthday.hasError}" ng-cloak>
                            <label for="birthday">{{'COMMON.BIRTHDAY' | translate}} ({{'SETTINGS.' + dateFormatsMap[user.dateFormat] | translate}})</label>
                            <input type="text" id="birthday" name="birthday" class="form-control" ng-change="fieldErrors.profileForm.birthday.hasError = false" ng-model="setting.birthday">
                        </div>
                        <div class="form-group" ng-class="{'has-error': fieldErrors.profileForm.about.hasError}">
                            <label for="aboutMe" translate="COMMON.ABOUT_ME"></label>
                            <textarea class="form-control vertical-resize" name="about" id="aboutMe" ng-model="user.about" ng-change="fieldErrors.profileForm.about.hasError = false" ng-maxlength="400"></textarea>
                        </div>
                        <div class="form-group">
                            <label translate="COMMON.GENDER"></label>
                            <div>
                                <div class="btn-group">
                                    <label class="btn btn-primary" ng-model="setting.isMale" uib-btn-radio="'true'" translate="COMMON.MALE"></label>
                                    <label class="btn btn-primary" ng-model="setting.isMale" uib-btn-radio="'false'" translate="COMMON.FEMALE"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="SETTINGS.PROFILE_PRIVACY"></label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="isPrivate" ng-model="user.isPrivate"> {{'SETTINGS.HIDE_MY_PROFILE_FROM_ALL_USERS' | translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <input type="submit" class="btn btn-primary pull-right" ng-disabled="saving" ng-click="saveSettings('profileForm')" value="{{(saving ? 'COMMON.SAVING' : 'COMMON.SAVE_CHANGES') | translate}}">
                    </div>
                </div>
            </form>
            <form method="POST" name="accountForm" ng-show="tab === 'account'" novalidate>
                <div class="panel panel-default">
                    <div class="panel-heading" translate="SETTINGS.ACCOUNT_SETTINGS"></div>
                    <div class="panel-body">
                        <uib-alert type="{{alerts.accountForm.type}}" ng-show="alerts.accountForm.message" close="closeAlert('accountForm')">
                            <span ng-bind-html="alerts.accountForm.message"></span>
                        </uib-alert>
                        <div class="form-group">
                            <label for="email" translate="COMMON.EMAIL"></label>
                            <input type="email" class="form-control" name="email" id="email" ng-model="user.email" disabled required ng-pattern="validations.email">
                        </div>
                        <div class="form-group">
                            <label for="language" translate="COMMON.LANGUAGE"></label>
                            <select class="form-control" id="language" name="language" ng-model="user.language" ng-options="language as languagesMap[language] for language in languages" required></select>
                        </div>
                        <div class="form-group">
                            <label for="date-format" translate="SETTINGS.DATE_FORMAT"></label>
                            <select class="form-control" id="date-format" name="dateFormat" ng-model="user.dateFormat" ng-options="dateFormat as ('SETTINGS.' + dateFormatsMap[dateFormat] | translate) for dateFormat in dateFormats" required></select>
                        </div>
                        <div class="form-group" ng-class="{'has-error': fieldErrors.accountForm.username.hasError}">
                            <label for="username" translate="COMMON.USERNAME"></label>
                            <div class="input-group">
                                <span class="input-group-addon">https://trafie.com/</span>
                                <input type="text" id="username" name="username" class="form-control" ng-model="user.username"  ng-change="fieldErrors.accountForm.username.hasError = false" ng-pattern="validations.username">
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <input type="submit" class="btn btn-primary pull-right" ng-disabled="saving" ng-click="saveSettings('accountForm')" value="{{(saving ? 'COMMON.SAVING' : 'COMMON.SAVE_CHANGES') | translate}}">
                    </div>
                </div>
                <div class="text-center">
                    <a href="javascript:;" ng-click="deactivateAccount()" class="text-warning" translate="SETTINGS.DEACTIVATE_MY_ACCOUNT"></a>
                </div>
            </form>
            <form method="POST" name="passwordForm" ng-show="tab === 'password'" novalidate>
                <div class="panel panel-default">
                    <div class="panel-heading" translate="SETTINGS.PASSWORD_SETTINGS"></div>
                    <div class="panel-body">
                        <uib-alert type="{{alerts.passwordForm.type}}" ng-show="alerts.passwordForm.message" close="closeAlert('passwordForm')">
                            <span ng-bind-html="alerts.passwordForm.message"></span>
                        </uib-alert>
                        <div class="form-group" ng-class="{'has-error': fieldErrors.passwordForm.oldPassword.hasError}">
                            <label for="old-password" translate="SETTINGS.OLD_PASSWORD"></label>
                            <input type="password" id="old-password" name="oldPassword" class="form-control" ng-model="user.oldPassword" ng-change="fieldErrors.passwordForm.oldPassword.hasError = false" ng-minlength="6">
                        </div>
                        <div class="form-group" ng-class="{'has-error': fieldErrors.passwordForm.password.hasError}">
                            <label for="password" translate="SETTINGS.NEW_PASSWORD"></label>
                            <input type="password" id="password" name="password" class="form-control" ng-model="user.password" ng-change="fieldErrors.passwordForm.password.hasError = false" ng-minlength="6">
                        </div>
                        <div class="form-group" ng-class="{'has-error': fieldErrors.passwordForm.repeatPassword.hasError}">
                            <label for="repeat-password" translate="SETTINGS.REPEAT_PASSWORD"></label>
                            <input type="password" id="repeat-password" name="repeatPassword" class="form-control" ng-model="repeatPassword" ng-change="fieldErrors.passwordForm.repeatPassword.hasError = false" ng-minlength="6">
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <input type="submit" class="btn btn-primary pull-right" ng-disabled="saving" ng-click="saveSettings('passwordForm')" value="{{(saving ? 'COMMON.SAVING' : 'COMMON.SAVE_CHANGES') | translate}}">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>