*.log

*.DS_Store

.settings

.project

.git

.gitignore~

.idea

README~

node_modules

bower_components

public/languages/el.json
public/languages/en.json

public/styles/styles.css
public/styles/styles-outer.css
