*~

*.log

*.DS_Store

.settings

.project

.git

.idea

.env

node_modules

bower_components

app/views/dist

public/app/trafie.min.js
public/app/trafieOuter.min.js

public/languages/el.json
public/languages/en.json

public/styles/styles.css
public/styles/styles-outer.css

*.rdb
