<div class="main-container clearfix screen-height">
    <div class="content-container screen-height">
        <div class="container screen-height">
            <div class="page clearfix outer-text-page screen-height">
                <div class="panel panel-default mb30">
                    <div class="panel-body">
                        <div class="mb30">
                            <h2>About</h2>
                        </div>
                        <div class="mb30">
                            <h4>What is Trafie?</h4>
                            <p>
                                Trafie is a free web and iOS application that helps you, the <a href="https://en.wikipedia.org/wiki/Track_and_field">
                                Track and Field</a> athlete, create your personal profile, store your achievements from the
                                competitions you have entered, and then analyze your performance data, in an easy and
                                intuitive way.
                            </p>
                            <p>
                                Also, Trafie is a social tool, allowing you to share your victories with the world, or find other
                                athletes you may know.
                            </p>
                        </div>
                        <div class="mb30">
                            <h4>How can Trafie help me?</h4>
                            <p>
                                By recording your competitions and your performance, you can see your progress in time, keep
                                statistics, set new goals, and remember your best performances. Also you can take notes like the
                                direction and speed of the wind during a competition, injuries etc.
                            </p>
                            <p>
                                All the recorded competitions can be filtered, so it is easy for example to see all the
                                competitions you entered in 2015 of a certain discipline.
                            </p>
                            <p>
                                Track and field is about great victories, which become more important when they are shared with
                                others. Trafie makes it easy for you to share your best or latest competitions, and show that
                                photo of yours with the hard-earned gold medal!
                            </p>
                        </div>
                        <div class="mb30">
                            <h4>The team</h4>
                            <p>
                                Designed and developed, with much love and respect for sports, in Greece, the birthplace of
                                <a href="https://en.wikipedia.org/wiki/Ancient_Olympic_Games" target="_blank">Olympic Games</a>,
                                in 2016.
                            </p>
                            <p>
                                The Trafie team wants to help the athletes fulfill their dreams, so feedback is always welcome.
                                You can help us to help you!
                            </p>
                        </div>
                        <div class="mb30">
                            <h4>Want to contact us?</h4>
                            <p>You can find us on:</p>
                            <a href="https://www.instagram.com/trafie/" target="_blank"><i class="fa fa-instagram"></i>&nbsp;Instagram</a> &bull;
                            <a href="https://www.facebook.com/trafie/" target="_blank"><i class="fa fa-facebook-square"></i>&nbsp;Facebook</a> &bull;
                            <a href="mailto:support@trafie.com?subject=Just say hello!"><i class="fa fa-envelope"></i>&nbsp;Email</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>