 <div class="container">
    <div class="page clearfix">
        <div class="page-wrap">
            <div class="row">
                <div class="col-log-12">
                    <div class="panel panel-default mb30">
                        <div class="panel-body">
                            <div class="mb30">
                                <h2>About</h2>
                            </div>
                            <div class="mb30">
                                <h4>What is trafie?</h4>
                                <p>Trafie is an application that helps <a href="https://en.wikipedia.org/wiki/Track_and_field">Track and Field</a> athletes collect and analyze their performance data, in an easy and intuitive way.</p>
                                <p>Designed and developed, with much love, in Greece, the birthplace of <a href="https://en.wikipedia.org/wiki/Ancient_Olympic_Games" target="_blank">Olympic Games</a>, in 2016.</p>
                            </div>
                            <div class="mb30">
                                <h4>Want to contact us?</h4>
                                <p>You can find us on:</p>
                                <p><a href="https://www.instagram.com/trafie/" target="_blank">Instagram</a></p>
                                <p><a href="https://www.facebook.com/trafie/" target="_blank">Facebook</a></p>
                                <p><a href="mailto:info@trafie.com?subject=Just say hello!">Email</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>