<div class="main-content">
    <section class="min-vh-100 d-flex align-items-center">
        <div class="bg-img-holder-login bg-img-holder top-0 right-0 col-lg-6 col-xl-8 zindex-100 d-none d-lg-block" data-bg-size="cover"
            data-bg-position="center">
            <img alt="Image placeholder" src="/images/outer/Moscow-2013--chicherova-Jeffcohenphoto-081713-5754-web.jpg">
            <span class="photo-credits" ng-include="'/app/outer/views/partial/photoCreditsView.html'"></span>
        </div>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-7 col-lg-6 col-xl-4 mx-auto ml-lg-0">
                    <div class="px-4 px-lg-6">
                        <div>
                            <div class="mb-5 text-center">
                                <a href="/">
                                    <img class="logo-badge logo-badge-sm mb-2" src="/images/logo.svg"></img>
                                </a>
                                <h6 class="h3">Login</h6>
                                <p class="text-muted mb-0">Sign in to your account to continue.</p>
                            </div>
                            <span class="clearfix"></span>
                            <form role="form" name="form">
                                <div class="alert alert-danger" role="alert" ng-if="error">
                                    {{error}}
                                </div>
                                <div class="alert alert-success" role="alert" ng-if="success">
                                    {{success}}
                                </div>
                                <div class="form-group" ng-class="{'focused': emailFocused}">
                                    <label class="form-control-label">Email address</label>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="email" class="form-control" id="input-email"
                                            placeholder="name@example.com" ng-model="formData.email" autofocus required
                                            ng-focus="emailFocused = true" ng-blur="emailFocused = false"
                                            >
                                    </div>
                                </div>
                                <div class="form-group mb-4" ng-class="{'focused': passwordFocused}">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <label class="form-control-label">Password</label>
                                        </div>
                                        <div class="mb-2">
                                            <a href="/reset-password-request"
                                                class="small text-muted text-underline--dashed border-primary">Lost
                                                password?</a>
                                        </div>
                                    </div>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        <input type="password" class="form-control" id="input-password"
                                            placeholder="Password" ng-model="formData.password" value="" required
                                            ng-focus="passwordFocused = true" ng-blur="passwordFocused = false"
                                            >
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <button type="button" ng-click="login()" class="btn btn-block btn-primary" ng-disabled="!form.$valid || loading">Sign in</button>
                                </div>
                            </form>
                            <div class="mt-4 text-center"><small>Not registered?</small>
                                <a href="/register" class="small font-weight-bold">Create account</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>