<form class="form-signin" method="post" role="form">
    <h2 class="text-center">trafie</h2>
    <div class="alert alert-danger" role="alert" ng-if="errorMessages.length" ng-bind-html="errorMessages.join('<br>')">

    </div>
    <div class="form-group" ng-class="{'has-error': fieldsWithErrors.firstName}">
        <label for="first-name">First name:</label>
        <input id="first-name" class="form-control" name="firstName" type="text" ng-model="formData.firstName" ng-change="fieldsWithErrors.firstName = false" autofocus required>
    </div>

    <div class="form-group" ng-class="{'has-error': fieldsWithErrors.lastName}">
        <label for="last-name">Last name:</label>
        <input id="last-name" class="form-control" name="lastName" type="text" ng-model="formData.lastName" ng-change="fieldsWithErrors.lastName = false" required>
    </div>

    <div class="form-group" ng-class="{'has-error': fieldsWithErrors.email}">
        <label for="email">Email:</label>
        <input id="email" class="form-control" name="email" type="email" ng-model="formData.email" ng-change="fieldsWithErrors.email = false" required>
    </div>

    <div class="form-group" ng-class="{'has-error': fieldsWithErrors.password}">
        <label for="password">Password:</label>
        <input id="password" class="form-control" name="password" type="password" ng-model="formData.password" ng-change="fieldsWithErrors.password = false" required>
    </div>

    <div class="form-group">
        <input class="btn btn-success btn-lg btn-block" type="submit" ng-click="register()" value="Register">
    </div>

    <div class="form-group">
        <small>Already a member?</small>&nbsp;
        <a href="/login">Login</a>
    </div>
</form>
