<!--<div class="main-container clearfix screen-height">
    <div class="content-container screen-height">
        <div class="page page-auth clearfix">
            <div class="auth-container">
                <div class="panel panel-default panel-form-outer">
                    <logo></logo>
                    <div class="form-container">
                        <form class="form-horizontal" method="post" role="form" name="form">
                            <div class="alert alert-danger" role="alert" ng-if="error">
                                {{error}}
                            </div>
                            <div class="form-group form-group-lg">
                                <input id="password-input" placeholder="Password" class="form-control" name="password" type="password" ng-model="formData.password" value="" autofocus required>
                            </div>

                            <div class="form-group form-group-lg">
                                <input id="repeat-password-input" placeholder="Repeat password" class="form-control" name="repeat-password" type="password" ng-model="repeatPassword" value="" required>
                            </div>

                            <div>
                                <input class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" ng-click="updatePassword()" value="Update password" ng-disabled="!form.$valid || formData.password !== repeatPassword">
                            </div>
                            <p>&nbsp;</p>
                        </form>
                    </div>
                    <div class="panel-footer text-muted" ng-include="'/app/outer/views/partial/outerPanelFooterView.html'"></div>
                </div>
            </div>
        </div>
        <span class="photo-credits" ng-includ="'/app/outer/views/partial/photoCreditsView.html'"></span>
    </div>
</div>-->

<div class="main-content">
    <section class="min-vh-100 d-flex align-items-center">
        <div class="bg-img-holder-register bg-img-holder top-0 right-0 col-lg-6 col-xl-8 zindex-100 d-none d-lg-block"
            data-bg-size="cover" data-bg-position="center">
            <img alt="Image placeholder" src="/images/outer/racetrack-lg.jpeg">
        </div>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-7 col-lg-6 col-xl-4 mx-auto ml-lg-0">
                    <div class="px-4 px-lg-6">
                        <div>
                            <div class="mb-5 text-center">
                                <a href="/">
                                    <img class="logo-badge logo-badge-sm mb-2" src="/images/logo.svg"></img>
                                </a>
                                <h6 class="h3">Password reset</h6>
                                <p class="text-muted mb-0">Enter your new password.</p>
                            </div>
                            <span class="clearfix"></span>
                            <form role="form" name="form">
                                <div class="alert alert-danger" role="alert" ng-if="errorMessages.server">
                                    {{errorMessages.server}}</div>
                                <div class="form-group mb-4" ng-class="{'focused': passwordFocused}">
                                    <label class="form-control-label">Password</label>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        <input type="password" class="form-control" id="input-password" ng-class="{'is-invalid': errorMessages.password}"
                                            placeholder="********" ng-model="formData.password" ng-change="errorMessages.password = ''" required
                                            ng-focus="passwordFocused = true" ng-blur="passwordFocused = false"
                                        >
                                        <div class="invalid-feedback" ng-if="errorMessages.password">{{errorMessages.password}}</div>
                                    </div>
                                </div>
                                <div class="form-group mb-4" ng-class="{'focused': repeatPasswordFocused}">
                                        <label class="form-control-label">Repeat password</label>
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                            </div>
                                            <input type="password" class="form-control" id="input-repeat-password" ng-class="{'is-invalid': errorMessages.repeatPassword}"
                                                placeholder="********" ng-model="repeatPassword" ng-change="errorMessages.repeatPassword = ''" required
                                                ng-focus="repeatPasswordFocused = true" ng-blur="repeatPasswordFocused = false"
                                            >
                                            <div class="invalid-feedback" ng-if="errorMessages.repeatPassword">{{errorMessages.repeatPassword}}</div>
                                        </div>
                                    </div>
                                <div class="mt-4">
                                    <button type="button" class="btn btn-block btn-primary"
                                    ng-click="updatePassword()" ng-disabled="!form.$valid || formData.password !== repeatPassword">
                                        Update password
                                    </button>
                                </div>
                            </form>
                            <div class="mt-4 text-center"><small>Not registered?</small>
                                <a href="/register" class="small font-weight-bold">Create account</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>