<div class="main-content">
    <section class="min-vh-100 d-flex align-items-center">
        <div class="bg-img-holder-register bg-img-holder top-0 right-0 col-lg-6 col-xl-8 zindex-100 d-none d-lg-block" data-bg-size="cover"
            data-bg-position="center">
            <img alt="Image placeholder" src="/images/outer/racetrack-lg.jpeg">
        </div>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-7 col-lg-6 col-xl-4 mx-auto ml-lg-0">
                    <div class="px-4 px-lg-6">
                        <div>
                            <div class="mb-5 text-center">
                                <a href="/">
                                    <img class="logo-badge logo-badge-sm mb-2" src="/images/logo.svg"></img>
                                </a>
                                <h6 class="h3">Password reset</h6>
                                <p class="text-muted mb-0">Enter your email below to proceed.</p>
                            </div>
                            <span class="clearfix"></span>
                            <form role="form" name="form">
                                <div class="alert alert-danger" role="alert" ng-if="errorMessages.server">{{errorMessages.server}}</div>
                                <div class="form-group" ng-class="{'focused': emailFocused}">
                                    <label class="form-control-label">Email address</label>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="email" class="form-control" id="input-email" ng-class="{'is-invalid': errorMessages.email}"
                                            placeholder="name@example.com" ng-model="formData.email" ng-change="errorMessages.email = ''" required
                                            ng-focus="emailFocused = true" ng-blur="emailFocused = false">
                                            <div class="invalid-feedback" ng-if="errorMessages.email">{{errorMessages.email}}</div>
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <button type="button" class="btn btn-block btn-primary" ng-click="resetPassword()" ng-disabled="!form.$valid">
                                        Reset password
                                    </button>
                                </div>
                            </form>
                            <div class="mt-4 text-center"><small>Not registered?</small>
                                <a href="/register" class="small font-weight-bold">Create account</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>