<div class="main-container clearfix screen-height">
    <div class="content-container screen-height">
        <div class="page page-auth clearfix">
            <div class="auth-container">
                <div class="panel panel-default panel-form-outer">
                    <div class="logo-container">
                        <img src="/images/logo.svg" class="logo" alt="trafie logo">
                        <h1 class="text-center text-light">
                            trafie
                        </h1>
                        <div class="text-center lead">
                            <h3 class="text-light h4">Your personal track and field profile</h3>
                        </div>
                    </div>
                    <div class="form-container">
                        <form class="form-horizontal" method="post" role="form" name="form">
                            <div class="alert alert-danger" role="alert" ng-if="error">
                                {{error}}
                            </div>
                            <div class="form-group form-group-lg" ng-class="{'has-error': fieldError}">
                                <input id="email" class="form-control" placeholder="Email" name="email" type="email" ng-model="formData.email" ng-change="fieldError = false" autofocus required>
                            </div>

                            <div class="form-group form-group-lg">
                                <input class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" ng-click="resetPassword()" value="Reset password" ng-disabled="!form.$valid">
                            </div>

                            <div class="form-group">
                                <a href="/login">Back to login</a>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer text-muted" ng-include="'/app/outer/views/partial/outerPanelFooterView.html'"></div>
                </div>
            </div>
        </div>
        <span class="photo-credits" ng-include="'/app/outer/views/partial/photoCreditsView.html'"></span>
    </div>
</div>