<div class="page page-auth clearfix">
    <div class="auth-container">
        <div class="logo-container">
            <div class="logo">
            </div>
            <div class="text-center text-light h1">
                trafie
            </div>
        </div>
        <div class="form-container">
            <form class="form-horizontal" method="post" role="form" name="form">
                <div class="alert alert-danger" role="alert" ng-if="error">
                    {{error}}
                </div>
                <div class="form-group form-group-lg">
                    <input id="password-input" placeholder="Password" class="form-control" name="password" type="password" ng-model="formData.password" value="" autofocus required>
                </div>

                <div class="form-group form-group-lg">
                    <input id="repeat-password-input" placeholder="Repeat password" class="form-control" name="repeat-password" type="password" ng-model="repeatPassword" value="" required>
                </div>

                <div>
                    <input class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" ng-click="updatePassword()" value="Update password" ng-disabled="!form.$valid || formData.password !== repeatPassword">
                </div>
            </form>
        </div>
    </div>
</div>
