<form class="form-signin" method="post" role="form" name="form">
    <h2 class="text-center">trafie</h2>
    <div class="alert alert-danger" role="alert" ng-if="error">
        {{error}}
    </div>
    <div class="form-group" ng-class="{'has-error': fieldError}">
        <label for="email">Email:</label>
        <input id="email" class="form-control" name="email" type="email" ng-model="formData.email" ng-change="fieldError = false" autofocus required>
    </div>

    <div>
        <input class="btn btn-success btn-lg btn-block" type="submit" ng-click="resetPassword()" value="Reset password" ng-disabled="!form.$valid">
    </div>

    <div>
        <a href="/login">Back to login</a>
    </div>
</form>
