<form class="form-signin" method="post" role="form" name="form">
    <h2 class="form-signin-heading">trafie</h2>
    <div class="alert alert-danger" role="alert" ng-if="error">
        {{error}}
    </div>
    <div class="form-group">
        <label for="password-input">Password:</label>
        <input id="password-input" class="form-control" name="password" type="password" ng-model="formData.password" value="" autofocus required>
    </div>

    <div class="form-group">
        <label for="repeat-password-input">Repeat password:</label>
        <input id="repeat-password-input" class="form-control" name="repeat-password" type="password" ng-model="repeatPassword" value="" required>
    </div>

    <div>
        <input class="btn btn-success btn-lg btn-block" type="submit" ng-click="updatePassword()" value="Update password" ng-disabled="!form.$valid || formData.password !== repeatPassword">
    </div>

    <div>
        <a href="/login">Back to login</a>
    </div>
</form>
