<div class="container">
    <div class="col-xs-12">
        <h3>Terms of service</h3>
        <p>
            1. Basic Terms
            2. Privacy
            3. Passwords
            4. Content on the Services
            5. Your Rights
            6. Your License To Use the Services
            7. Twitter Rights
            8. Restrictions on Content and Use of the Services
            9. Copyright Policy
            10. Ending These Terms
            11. Disclaimers and Limitations of Liability
                A. The Services are Available “AS-IS”
                B. Links
                C. Limitation of Liability
            12. General Terms
                A. Waiver and Severability
                B. Controlling Law and Jurisdiction
                C. Entire Agreement
        </p>
    </div>
</div>