doctype 5
html
head
	title= title
link(rel='stylesheet', href='/stylesheets/style.css')
script(type='text/javascript', src='/javascripts/jquery-2.0.3.min.js')
script(type='text/javascript', src='/javascripts/script.js')

body
	div#mainmenu_container
		div#mainmenu
			div
			a.logo(href="/")
			ul.dropdown
				li
					a(href="/") Mo
				li
					a(href="/statistics") Graphs
				li
					a(href="/settings") Settings
block content