doctype 5
html
head
	//ICONS
	link(rel="icon" href="/images/icons/trafie_72.png" type="image/x-icon")
	link(rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/icons/trafie_57.png")
	link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icons/trafie_72.png")
	link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/icons/trafie_114.png")
	link(rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/icons/trafie_144.png")

	link(rel='stylesheet', href='/stylesheets/reset.css')
	link(rel='stylesheet', media='all and (min-width: 901px)', href='/stylesheets/style.css')


	meta(name="apple-mobile-web-app-capable" content="yes")
	title trafie


script(type='text/javascript', src='/javascripts/script.js')

body
	div#mainmenu_container
		div#mainmenu
			div
			a.logo(href="/")
			ul.dropdown
				li
					a(href="/")= profile.first_name
				li
					a(href="/statistics")= tr['statistics']
				li
					a(href="/settings")= tr['settings']
block content



