doctype 5
html(ng-app="trafie")
head
	meta(charset="utf-8")

	//ICONS
	link(rel="icon" href="/images/icons/trafie_72.png" type="image/x-icon")
	//- link(rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/icons/trafie_57.png")
	//- link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icons/trafie_72.png")
	//- link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/icons/trafie_114.png")
	//- link(rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/icons/trafie_144.png")

	link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,greek,cyrillic' rel='stylesheet' type='text/css')
	link(rel='stylesheet', href='/stylesheets/reset.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap.css')


	meta(name="apple-mobile-web-app-capable" content="yes")
	title trafie

body( ng-controller="mainController" ng-cloak)
	div#mainmenu_container
		div#mainmenu
			div
			a.logo(href="/")
			input#search( name="search" placeholder="Search here..." autocomplete="off" )
			ul#search_results

			if user._id
				ul.dropdown
					li
						a.menu_profile(href="/" ng-class="{active: section == 'profile'}" ) {{user_first_name}}
					li
						a.menu_statistics(href="/statistics" ng-class="{active: section == 'statistics'}")= tr['statistics']
					li
						a.menu_settings(href="/settings" ng-class="{active: section == 'settings'}")= tr['settings']
			else
				ul.dropdown
					li
						a.menu_profile(href="/register") Register
					li
						a.menu_statistics(href="/login") Login

	#content.col-md-8( ng-view )
	
	script(type="text/javascript", src="/javascripts/libs/angular.min.js")
	script(type="text/javascript", src="/javascripts/libs/angular-route.min.js")
	script(type="text/javascript", src="/javascripts/libs/ui-bootstrap-0.10.0.min.js")
	script(type='text/javascript', src='/javascripts/scripts/script.js')
	script(type='text/javascript', src='/javascripts/app.js')
	script(type='text/javascript', src='/javascripts/controllers/mainController.js')
	script(type='text/javascript', src='/javascripts/controllers/profileController.js')
	script(type='text/javascript', src='/javascripts/controllers/settingsController.js')
	script(type='text/javascript', src='/javascripts/controllers/statisticsController.js')

	
//script.
	mainMenuHandlers();



