extends welcome_layout

block content

	div#welcome_container
		div#header
			div#welcome_logo trafie

		div.forms
			form.welcome_form(method="post", action="/login")
				label(for="email_input") Email:
				span#email_error.login_error= errors.email
				input#email_input.textfield(name="email" type="text" value="" autofocus)
				br
				label(for="password_input") Password:
				input#password_input.textfield(name="password" type="password" value="")
				br
				input.button_green(type="submit", value="Login")
				//div
					p.switch_login_register_message Not a member?
						a(href="/register") Register