extends welcome_layout

block content

	div#welcome_container
		div#header
			div#welcome_logo trafie

		div.forms
			form.welcome_form(method="post", action="/login")
				label(for="email_input") Email:
				input#email_input.textfield(name="email", type="text")
				br
				label(for="password_input") Password:
				input#password_input.textfield(name="password", type="password")
				br
				input.button_green(type="submit", value="Login at trafie")
				div
					p.switch_login_register_message Not a member?
						a(href="/register") Register