extends welcome_layout

block content

	div#welcome_container
		div#header
			div#welcome_logo trafie

		div.forms
			form.welcome_form(method="post", action="/login")
				if errors.email
					div.error_message= errors.email

				label(for="email_input") Email:
					span#email_error.warning_message
				input#email_input.textfield(name="email" type="text" value="mathiou@trafie.com" autofocus)
				br

				label(for="password_input") Password:
				input#password_input.textfield(name="password" type="password" value="123123")
				br
				input#submit_button.button_green(type="submit", value="Login")
				div
					p.switch_login_register_message Not a member?
						a(href="/register") Register
				div
					p.switch_login_register_message Forgot Password?
						a(href="/reset_password_request") Reset Here
	//scripts
	script(type='text/javascript', src='/javascripts/login.js')
	script.
		loginHandlers();