extends layout
block content

	div#main_content
		div#profile_container
			div#image_container
				img(src="../images/profile_pics/002.png")
			div#profileFullName
				h3= data.first_name data.last_name

		div#fistory_container
			ul
				li
					h4 2.32m
					p High Jump 23 December 2013
				li
					h4 2.32m
					p High Jump 23 December 2013
				li
					h4 2.32m
					p High Jump 23 December 2013
				li
					h4 2.32m
					p High Jump 23 December 2013
				li
					h4 2.32m
					p High Jump 23 December 2013
				li
					h4 2.32m
					p High Jump 23 December 2013