extends layout
block content

	div#main_content
		div#profile_container
			div#image_container
				img(src="../images/profile_pics/002.png")
			div#profileFullName
				h3= profile.first_name+' '+profile.last_name 


		div#history_container
			ul.history_line

				li.add_activity
					div 
						a#add_activity_link( onclick="open_new_activity_form();" ) Add New Activity

					form#add_activity_form( style="display:none;" method="POST" )
						select#discipline_input(name="discipline" onchange="show_specific_form(this);")
							option(selected) Choose your discipline:
							option(value="100m") 100m
							option(value="200m") 200m
							option(value="400m") 400m
							option(value="800m") 800m
							option(value="1500m") 1500m
							option(value="3000m") 3000m
							option(value="60m_hurdles") 60m hurdles
							option(value="100m_hurdles") 100m hurdles
							option(value="110m_hurdles") 110m hurdles
							option(value="400m_hurdles") 400m hurdles
							option(value="3000m_steeple") 3000m steeple
							option(value="4x100m_relay") 4x100m relay
							option(value="4x400m_relay") 4x400m relay
							option(value="marathon") marathon
							option(value="high_jump") high_jump
							option(value="long_jump") long_jump
							option(value="triple_jump") triple_jump
							option(value="pole_vault") pole_vault
							option(value="shot_put") shot_put
							option(value="discus") discus
							option(value="hammer") hammer
							option(value="javelin") javelin
							option(value="pentathlon") pentathlon
							option(value="heptathlon") heptathlon
							option(value="decathlon") decathlon

						//time measure
						div#time_activity.row( style="display:none;" )  Enter your performance:
							br
							div
								label(for="hours_input") Hours:
								input#hours_input(name="hours" size="2" maxlength="2" )
							div
								label(for="minutes_input") Minutes:
								input#minutes_input(name="minutes" size="2" maxlength="2" onchange="number0to59(this);" )
							div
								label(for="seconds_input") Seconds:
								input#seconds_input(name="seconds" size="2" maxlength="2" onchange="number0to59(this);" )
							div
								label(for="centiseconds_input") Centiseconds:
								input#centiseconds_input(name="centiseconds" size="2" maxlength="2" onchange="number0to99(this);" )
							
						//distance measure 
						div#distance_activity.row( style="display:none;" ) Enter your performance:
							br
							div
								label(for="distance_1_input") Meters:
								input#distance_1_input(name="distance_1" size="2" maxlength="2").
							div
								label(for="distance_2_input") Centimeters:
								input#distance_2_input(name="distance_2" size="2" maxlength="2" onchange="number0to99(this);" ) 

						// points measure 
						div#point_activity.row( style="display:none;" )  Enter your performance:
							br
							label(for="points_input") Points:
							input#points_input(type="text" name="points")

						//submit
						div.row
							input(type="submit" name="new_competition" value="Submit")
							a#cancel_activity_link( style="display:none;" onclick="close_new_activity_form();" ) Cancel
				
				li
					div( class="performance")
						span high jump
						span 2.24m
					div( class="icon") HJ
					div( class="info")
						h2 something
						p something else

				li
					div( class="performance")
						span high jump
						span 2.24m
					div( class="icon") HJ
					div( class="info")
						h2 something
						p something else

				li
					div( class="performance")
						span high jump
						span 2.24m
					div( class="icon") HJ
					div( class="info")
						h2 something
						p something else
