extends welcome_layout

block content

	div#welcome_container
		div#header
			div#welcome_logo

		div.forms
			form#register.welcome_form(method="post")
				h3 Sign Up
				input#first_name(type="text" name="first_name" placeholder="First Name")
				input#last_name(type="text" name="last_name" placeholder="Last Name")
				input#email(type="text" name="email" placeholder="email")
				input#password(type="password" name="password" placeholder="Password")
				input#repeat_password(type="password" name="repeat_password" placeholder="Repeat Password")
				div.row
					label(for="male") Male
					input#male(type="radio" name="gender" value="male" checked)
					label(for="female") Female
					input#female(type="radio" name="gender" value="female")

				input(type="submit" name="sign_up" value="Sign Up")
				div
					span.sign_up
						a(href="") Login
