extends welcome_layout

block content

	div#welcome_container
		div#header
			div#welcome_logo trafie
		div.forms
			form.welcome_form(method="post")
				h4 Forgot password
				if error
					div.error_message= error
				label(for="email_input") Email address:
				span#email_error.login_error
				input#email_input.textfield(name="email" type="text" value="dimitra@trafie.com" autofocus)
				br
				input.button_green(type="submit", value="Send me an email")
				div
					p.switch_login_register_message
						a(href="/login") Return to login page
