extends welcome_layout

block content

	div#welcome_container
		div#header
			div#welcome_logo trafie

		div.forms
			h4 Enter your email here
			form.welcome_form(method="post")
				label(for="email_input") Email:
				span#email_error.login_error= error
				input#email_input.textfield(name="email" type="text" value="dimitra@trafie.com" autofocus)
				br
				input.button_green(type="submit", value="Send mail")
