extends welcome_layout

block content

	div#welcome_container
		div#header
			div#welcome_logo trafie

		div.forms
			h4 Enter your email here
			form.welcome_form(method="post")
				label(for="password") Password
				span#password_error.login_error= errors.password
				input#password.textfield(type="password" name="password")
				label(for="repeat_password") Repeat Password
				span#repeat_password_error.login_error= errors.repeat_password
				input#repeat_password.textfield(type="password" name="repeat_password")
				br
				input.button_green(type="submit", value="Save Password")
