extends layout
block content
	div#main_content
		//h4.left= title

		div#settingsNav
			ul
				li#profileSettingsTab.active
					a( href="#profile" )= tr['profile_settings']
				li#accountSettingsTab
					a( href="#account" )= tr['account_settings']
				li.logout
					a(href="/logout")= tr['logout']

		//PROFILE SETTINGS
		div#profileSettings.settingsContent
			include partials/settings/profile


		//ACCOUNT SETTINGS
		div#accountSettings.settingsContent( style="display:none;" )
			include partials/settings/account

		//temp loading - move to search
		div#loading( hidden )
			img( src="images/ui/loading.gif" )

	//scripts
	script(type='text/javascript', src='/javascripts/settings.js')
	script.
		activeTab();
		settingsHandlers();

