extends welcome_layout

block content

	div#welcome_container
		div#header
			div#welcome_logo trafie

		div.validationMessage
			p Thank you for joining trafie!
			p A validation link has been send to
				span.email email@somewhere.com
			p
				span.greet ~ trafie team
