extends welcome_layout

block content

	div#welcome_container
		div#header
			div#welcome_logo trafie

		div.validationMessage
			p
				span.main_message Your registration was succesfull!
			p Go to
				span.email= email
				| &nbsp;and click the validation link.
