extends layout

block content
	h1= title
	p Welcome to #{title}
	form(method="post", action="/welcome")
		label(for="email_input") Email: 
		input(id="email_input", name="email", type="text")
		br
		label(for="password_input") Password: 
		input(id="password_input", name="password", type="password")
		br
		input(type="submit", value="Zoula")