footer.site-foot.clearfix
    p.col-md-9.left © Copyright 2018 trafie, All rights reserved.
    p.col-md-3.right
        a.right.text-muted(href="/terms-of-service" target="_blank") Terms of Service
        a.right.text-muted(href="/privacy" target="_blank") Privacy &nbsp;
        a.right.text-muted(href="/about" target="_blank") About &nbsp;