nav.navbar.navbar-default.navbar-fixed-top.navbar-trafie
    div.container
        div.container-fluid(ng-init="App.sidebarIsCollapsed = true")
            div.navbar-header
                button.navbar-left(type="button", class="navbar-toggle collapsed", aria-expanded="false", ng-click="App.sidebarIsCollapsed = !App.sidebarIsCollapsed")
                    i.fa.fa-navicon
                    span(class="sr-only") Toggle navigation
                a.navbar-brand(href="/") trafie
            div.navbar-collapse.collapse.navbar-left.row(uib-collapse="App.sidebarIsCollapsed", ng-cloak)
                ul.nav.navbar-nav
                    li(ng-if="App.user" ng-class="{'active': App.getCurrentPage() === 'profile'}")
                        a(href='/', ng-click="App.sidebarIsCollapsed = true; App.profileResult = '';")
                            i.fa.fa-user.nav-icon
                            span(ng-bind="App.user.firstName")
                    li(ng-if="App.user" ng-class="{'active': App.getCurrentPage() === 'settings'}")
                        a(href='/settings', ng-click="App.sidebarIsCollapsed = true; App.profileResult = '';")
                            i.fa.fa-cog.nav-icon
                            span(translate="COMMON.SETTINGS")
                    li(ng-if="!App.user")
                        a(href='/register' ng-click="App.forceRedirect('register')")
                            span(translate="COMMON.REGISTER")
                    li(ng-if="!App.user")
                        a(href='/login' ng-click="App.forceRedirect('login')")
                            span(translate="COMMON.LOGIN")
            div.navbar-collapse.collapse.navbar-right
                form.navbar-form.navbar-right-form(role="search")
                    .input-group(ng-cloak)
                        input.form-control(type="text" placeholder="{{'COMMON.SEARCH' | translate}}" ng-model="App.profileResult" uib-typeahead="user as (user.firstName + ' ' + user.lastName) for user in App.searchUsers($viewValue)")
                        span.input-group-btn
                            button.btn.btn-default(type="submit" ng-click="App.goToUser()")
                                i.fa.fa-search