nav.navbar.navbar-default.navbar-fixed-top
    div.container
        div.container-fluid
            div.navbar-collapse.collapse.navbar-left.row
                ul.nav.navbar-nav
                    li(ng-if="App.user" ng-class="{'active': App.getCurrentPage() === 'profile'}")
                        a(href='/')
                            i.fa.fa-user.nav-icon
                            span(translate="COMMON.PROFILE")
                    li(ng-if="App.user" ng-class="{'active': App.getCurrentPage() === 'settings'}")
                        a(href='/settings')
                            i.fa.fa-cog.nav-icon
                            span(translate="COMMON.SETTINGS")
            div.navbar-header
                a.navbar-brand(href="/") trafie
            div.navbar-collapse.collapse.navbar-right
                form.navbar-form.navbar-right-form(role="search")
                    .input-group
                        input.form-control(type="text" placeholder="{{'COMMON.SEARCH' | translate}}" ng-model="App.profileResult" uib-typeahead="user as (user.firstName + ' ' + user.lastName) for user in App.searchUsers($viewValue)" ng-cloak)
                        span.input-group-btn
                            button.btn.btn-default(type="submit" ng-click="App.goToUser()")
                                i.fa.fa-search