script(type='text/javascript', src='/app/app.js')
script(type='text/javascript', src='/app/common/trafieShared.js')
script(type='text/javascript', src='/app/common/controllers/appController.js')
script(type='text/javascript', src='/app/common/models/activityModel.js')
script(type='text/javascript', src='/app/common/models/userModel.js')
script(type='text/javascript', src='/app/common/services/userService.js')
script(type='text/javascript', src='/app/common/services/pageDataService.js')
script(type='text/javascript', src='/app/common/services/imageService.js')
script(type='text/javascript', src='/app/common/directives/timePerformancePickerDirective.js')
script(type='text/javascript', src='/app/common/directives/distancePerformancePickerDirective.js')
script(type='text/javascript', src='/app/common/directives/pointsPerformancePickerDirective.js')
script(type='text/javascript', src='/app/common/directives/inchesPickerDirective.js')
script(type='text/javascript', src='/app/common/directives/replaceMetaContentDirective.js')
script(type='text/javascript', src='/app/common/constants/globalConstants.js')
script(type='text/javascript', src='/app/common/configs/translationsConfig.js')
script(type='text/javascript', src='/app/profile/controllers/profileController.js')
script(type='text/javascript', src='/app/profile/controllers/activityEditorModalController.js')
script(type='text/javascript', src='/app/profile/controllers/activityDisplayModalController.js')
script(type='text/javascript', src='/app/profile/directives/activityFiltersDirective.js')
script(type='text/javascript', src='/app/profile/directives/activityPanelDirective.js')
script(type='text/javascript', src='/app/profile/directives/autoselectTextDirective.js')
script(type='text/javascript', src='/app/profile/filters/activityFilters.js')
script(type='text/javascript', src='/app/settings/controllers/settingsController.js')
script(type='text/javascript', src='/app/settings/controllers/deactivateAccountModalController.js')
script(type='text/javascript', src='/app/settings/controllers/uploadImageModalController.js')
script(type='text/javascript', src='/app/settings/directives/profilePictureDirective.js')
script(type='text/javascript', src='/app/feedback/controllers/feedbackModalController.js')