script(type='text/javascript', src='/app/outer/appOuter.js')
script(type='text/javascript', src='/app/common/trafieShared.js')
script(type='text/javascript', src='/app/outer/controllers/appOuterController.js')
script(type='text/javascript', src='/app/outer/controllers/registerController.js')
script(type='text/javascript', src='/app/outer/controllers/loginController.js')
script(type='text/javascript', src='/app/outer/controllers/resetPasswordController.js')
script(type='text/javascript', src='/app/outer/controllers/resetPasswordRequestController.js')
script(type='text/javascript', src='/app/outer/controllers/validateEmailController.js')
script(type='text/javascript', src='/app/outer/services/outerPageDataService.js')
script(type='text/javascript', src='/app/common/directives/replaceMetaContentDirective.js')