script(type="text/javascript", src="/bower_components/angular/angular.min.js")
script(type="text/javascript", src="/bower_components/angular-route/angular-route.min.js")
script(type="text/javascript", src="/bower_components/angular-resource/angular-resource.min.js")
script(type="text/javascript", src="/bower_components/angular-sanitize/angular-sanitize.min.js")
script(type="text/javascript", src="/bower_components/angular-translate/angular-translate.min.js")
script(type="text/javascript", src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js")
script(type="text/javascript", src="/bower_components/angular-bootstrap/ui-bootstrap.min.js")
script(type="text/javascript", src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
script(type="text/javascript", src="/bower_components/angular-notify/dist/angular-notify.min.js")
script(type="text/javascript", src="/bower_components/angular-confirm-modal/angular-confirm.min.js")
script(type="text/javascript", src="/bower_components/angular-ui-select/dist/select.min.js")
script(type="text/javascript", src="/bower_components/moment/min/moment.min.js")

script(type='text/javascript', src='/app/app.js')
script(type='text/javascript', src='/app/common/controllers/appController.js')
script(type='text/javascript', src='/app/common/controllers/activityEditorModalController.js')
script(type='text/javascript', src='/app/common/models/activityModel.js')
script(type='text/javascript', src='/app/common/models/userModel.js')
script(type='text/javascript', src='/app/common/services/userService.js')
script(type='text/javascript', src='/app/common/directives/tfTimePerformancePickerDirective.js')
script(type='text/javascript', src='/app/common/directives/tfDistancePerformancePickerDirective.js')
script(type='text/javascript', src='/app/common/directives/tfPointsPerformancePickerDirective.js')
script(type='text/javascript', src='/app/common/constants/globalConstants.js')
script(type='text/javascript', src='/app/common/configs/translationsConfig.js')
script(type='text/javascript', src='/app/profile/controllers/profileController.js')
script(type='text/javascript', src='/app/profile/directives/activityFiltersDirective.js')
script(type='text/javascript', src='/app/settings/controllers/settingsController.js')
script(type='text/javascript', src='/app/settings/controllers/deactivateAccountModalController.js')
script(type='text/javascript', src='/app/feedback/controllers/feedbackModalController.js')