script(type="text/javascript", src="/bower_components/angular/angular.min.js")
script(type="text/javascript", src="/bower_components/angular-route/angular-route.min.js")
script(type="text/javascript", src="/bower_components/angular-resource/angular-resource.min.js")
script(type="text/javascript", src="/bower_components/angular-sanitize/angular-sanitize.min.js")
script(type="text/javascript", src="/bower_components/angular-translate/angular-translate.min.js")
script(type="text/javascript", src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js")
script(type="text/javascript", src="/bower_components/angular-bootstrap/ui-bootstrap.min.js")
script(type="text/javascript", src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
script(type="text/javascript", src="/bower_components/angular-notify/dist/angular-notify.min.js")
script(type="text/javascript", src="/bower_components/angular-confirm-modal/angular-confirm.min.js")
script(type="text/javascript", src="/bower_components/angular-ui-select/dist/select.min.js")
script(type="text/javascript", src="/bower_components/ng-file-upload/ng-file-upload.min.js")
script(type="text/javascript", src="/bower_components/ng-img-crop/compile/unminified/ng-img-crop.js")
script(type="text/javascript", src="/bower_components/moment/min/moment.min.js")
script(type="text/javascript", src="/bower_components/chart.js/dist/Chart.js")
script(type="text/javascript", src="/bower_components/angular-chart.js/dist/angular-chart.min.js")
script(type="text/javascript", src="/purpose-theme/js/purpose.core.js")
script(type="text/javascript", src="/purpose-theme/js/purpose/layout.js")
script(type="text/javascript", src="/purpose-theme/assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js")