script(type="text/javascript", src="/bower_components/angular/angular.min.js")
script(type="text/javascript", src="/bower_components/angular-route/angular-route.min.js")
script(type="text/javascript", src="/bower_components/angular-resource/angular-resource.min.js")
script(type="text/javascript", src="/bower_components/angular-translate/angular-translate.min.js")
script(type="text/javascript", src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js")
script(type="text/javascript", src="/bower_components/angular-bootstrap/ui-bootstrap.min.js")
script(type="text/javascript", src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
script(type="text/javascript", src="/bower_components/angular-notify/dist/angular-notify.min.js")
script(type="text/javascript", src="/bower_components/moment/min/moment.min.js")

script(type='text/javascript', src='/app/app.js')
script(type='text/javascript', src='/app/common/controllers/appController.js')
script(type='text/javascript', src='/app/common/models/activityModel.js')
script(type='text/javascript', src='/app/common/models/userModel.js')
script(type='text/javascript', src='/app/common/services/activityService.js')
script(type='text/javascript', src='/app/common/services/userService.js')
script(type='text/javascript', src='/app/common/constants/globalConstants.js')
script(type='text/javascript', src='/app/common/configs/translationsConfig.js')
script(type='text/javascript', src='/app/profile/controllers/profileController.js')
script(type='text/javascript', src='/app/settings/controllers/settingsController.js')