script(type="text/javascript", src="/bower_components/underscore/underscore-min.js")
script(type="text/javascript", src="/bower_components/angular/angular.min.js")
script(type="text/javascript", src="/bower_components/angular-route/angular-route.min.js")
script(type="text/javascript", src="/bower_components/angular-resource/angular-resource.min.js")
script(type="text/javascript", src="/bower_components/angular-sanitize/angular-sanitize.min.js")

script(type='text/javascript', src='/app/outer/app-outer.js')
script(type='text/javascript', src='/app/outer/controllers/registerController.js')
script(type='text/javascript', src='/app/outer/controllers/loginController.js')
script(type='text/javascript', src='/app/outer/controllers/resetPasswordController.js')
script(type='text/javascript', src='/app/outer/controllers/resetPasswordRequestController.js')