@red:#AE3731;
@lightgray : rgba(0,0,0,0.1);
@mediumgray : rgba(0,0,0,0.3);

html
{
		height:100%;
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: 300 1em Open Sans,Arial,Helvetica,sans-serif;
	background: white;
	height:100%;
}

/* ----------------------------------------  LOGIN */
.forms
{
	margin:0px auto;
	padding:0px;
}
#login
{
	visibility: visible;
}

#registration
{
	visibility: visible;
	float:left;
}

#welcome_container
{
	background-image: url('../images/welcome/01.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	background-size: cover;
	height:100%;
}

#welcome_logo
{
	font-size: 3em;
	font-style: italic;
	font-weight:100;
	width: 100%;
	text-align: center;
	padding-top: 3em;
	padding-bottom: 0.5em;

	color: white;
	-webkit-text-shadow: 2px 2px 5px #000000;
	-moz-text-shadow: 2px 2px 5px #000000;
	-o-text-shadow: 2px 2px 5px #000000;
	-ms-text-shadow: 2px 2px 5px #000000;
	text-shadow: 2px 2px 5px #000000;
}

.welcome_form
{
	width:400px;
	padding: 20px 20px 10px 20px;
	margin:0px auto;
	background-color: rgba(0,0,0,0.6);

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	border-radius: 7px;

	color:white;

	h3
	{
		width:100%;
		text-align: center;
		font-weight: 300;
		font-size:1.3em;
		font-style: italic;
		margin:0px 0px 10px 0px;
		padding:0px;
	}

	input
	{
		width:100%;
		height: 30px;
		font-size: 1.4em;
		margin:0px auto;

		/* radius */
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
		-ms-border-radius: 5px;
		border-radius: 5px;

		/* inner-shaddow */
		-webkit-box-shadow: inset 0px 0px 0px #000000;
		-moz-box-shadow: inset 0px 0px 0px #000000;
		-o-box-shadow: inset 0px 0px 0px #000000;
		-ms-box-shadow: inset 0px 0px 0px #000000;
		box-shadow: inset 0px 0px 0px #000000;

		margin-bottom: 5px;

		&[type="submit"]
		{
			margin:20px 0px;
			-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	        -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	        box-shadow:inset 0px 1px 0px 0px #cf866c;

	        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	        background:-moz-linear-gradient(top, @red 5%, @red 100%);
	        background:-webkit-linear-gradient(top, @red 5%, @red 100%);
	        background:-o-linear-gradient(top, @red 5%, @red 100%);
	        background:-ms-linear-gradient(top, @red 5%, @red 100%);
	        background:linear-gradient(to bottom, @red 5%, @red 100%);
	        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@red', endColorstr='@red',GradientType=0);

	        background-color:#d0451b;

	        -moz-border-radius:3px;
	        -webkit-border-radius:3px;
	        border-radius:3px;

	        border:1px solid #942911;

	        display:inline-block;
	        color:#ffffff;
	        font-family:arial;
	        font-size:13px;
	        font-weight:normal;
	        padding:6px 24px;
	        text-decoration:none;

	        text-shadow:0px 1px 0px #854629;
	        width:150px;

			&:hover
			{
				background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
		        background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
		        background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
		        background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
		        background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
		        background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
		        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);

		        background-color:#bc3315;
		    }

			&:active
			{
		        position:relative;
		        top:1px;
		    }

		}

		&[type="radio"]
		{
			width: auto;
			height: 15px;
			margin-right: 30px;
		}
	}


	.forgot_password a
	{
		color:white;
		font-size: 0.7em;
		text-decoration: none;

		&:hover
		{
			text-decoration: underline;
		}
	}

	.sign_up
	{
		padding-left: 5px;
		a
		{
			color:white;
			font-size: 0.9em;
			text-decoration: none;
			margin-bottom:5px;

			&:hover
			{
				text-decoration: underline;
			}
		}
	}
}
