/* TO - BE - FIXED */
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  color: #555;
  font: 300 1em Open Sans, Arial, Helvetica, sans-serif;
  background: white;
  height: 100%;
}
/* ----------------------------------------  LOGIN ---------------------------------------------------------- */
.forms {
  margin: 0px auto;
  padding: 0px;
}
#login {
  visibility: visible;
}
#registration {
  visibility: visible;
  float: left;
}
#welcome_container {
  background-image: url('../images/welcome/01.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
#welcome_logo {
  font-size: 3em;
  font-style: italic;
  font-weight: 100;
  width: 100%;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 0.5em;
  color: white;
  -webkit-text-shadow: 2px 2px 5px #000000;
  -moz-text-shadow: 2px 2px 5px #000000;
  -o-text-shadow: 2px 2px 5px #000000;
  -ms-text-shadow: 2px 2px 5px #000000;
  text-shadow: 2px 2px 5px #000000;
}
.welcome_form {
  width: 400px;
  padding: 5px 20px;
  margin: 0px auto;
  /* background-color: rgba(0,0,0,0.6); */

  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  color: black;
  /*the text field parameters. use with <input> */

  /*error messages - right of the label*/

}
.welcome_form h3 {
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 1.3em;
  font-style: italic;
  margin: 0px 0px 10px 0px;
  padding: 0px;
}
.welcome_form input {
  width: 100%;
  margin: 0px auto;
  /* radius */

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.welcome_form input[type="radio"] {
  width: auto;
  height: 15px;
  margin-right: 30px;
}
.welcome_form .textfield {
  font-size: 1.4em;
}
.welcome_form .switch_login_register_message {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9em;
}
.welcome_form .switch_login_register_message a {
  color: black;
  padding-left: 3px;
  font-size: 1em;
  text-decoration: none;
}
.welcome_form .switch_login_register_message a:hover {
  text-decoration: underline;
}
.welcome_form .login_error {
  color: #ff0000;
  margin-left: 5px;
  font-weight: 400;
}
.information_message {
  color: #ffa500;
  font-size: 0.9em;
}
.button_green {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 6px 24px;
  border: 1px solid #45861a;
  border-radius: 8px;
  background: #70d92b;
  background: -webkit-gradient(linear, left top, left bottom, from(#70d92b), to(#45861a));
  background: -moz-linear-gradient(top, #70d92b, #45861a);
  background: linear-gradient(to bottom, #70d92b, #45861a);
  font: 1em Open Sans, Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.button_green:hover,
.button_green:focus {
  border: 1px solid ##56a721;
  background: #86ff34;
  background: -webkit-gradient(linear, left top, left bottom, from(#86ff34), to(#53a11f));
  background: -moz-linear-gradient(top, #86ff34, #53a11f);
  background: linear-gradient(to bottom, #86ff34, #53a11f);
  color: #ffffff;
  text-decoration: none;
}
.button_green:active {
  background: #45861a;
  background: -webkit-gradient(linear, left top, left bottom, from(#45861a), to(#45861a));
  background: -moz-linear-gradient(top, #45861a, #45861a);
  background: linear-gradient(to bottom, #45861a, #45861a);
}
.button-red {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 24px;
  border: 1px solid #a22b14;
  border-radius: 8px;
  background: #ff5026;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff5026), to(#a22b14));
  background: -moz-linear-gradient(top, #ff5026, #a22b14);
  background: linear-gradient(to bottom, #ff5026, #a22b14);
  font: 1em Open Sans, Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.button-red:hover,
.button-red:focus {
  border: 1px solid ##bf3218;
  background: #ff602e;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff602e), to(#c23418));
  background: -moz-linear-gradient(top, #ff602e, #c23418);
  background: linear-gradient(to bottom, #ff602e, #c23418);
  color: #ffffff;
  text-decoration: none;
}
.button-red:active {
  background: #a22b14;
  background: -webkit-gradient(linear, left top, left bottom, from(#a22b14), to(#a22b14));
  background: -moz-linear-gradient(top, #a22b14, #a22b14);
  background: linear-gradient(to bottom, #a22b14, #a22b14);
}
