@images : '../images/';

@gray_01 : rgba(0,0,0,0.1);
@gray_03 : rgba(0,0,0,0.3);
@gray_06 : rgba(0,0,0,0.6);
@gray_09 : rgba(0,0,0,0.9);

/* PALETTE */
@snow : #E8E8E8; /* (154,187,214) */
@red : #990100; /* (52,85,112) */
@red_bright : #90504; /* (185,56,56) */
@selectedOptionBackground : rgba(0,0,0,0.1);

/* MESSAGES */
@orange_message_back : #E87600;
@red_message_back : #D14337;
@green_message_back : #C6FDBC;

/* BUTTONS */
@green: #80A010;

// @dark:  #444444;
// @light: #999999;
// @blue:  #2DB6CF;
// @white: #FFFFFF;



/*******************************************************************************************************************************
 * 							                                                                      GENERAL                      *
 ******************************************************************************************************************************/
/* GENERAL */

/*error message - text width - right of the label*/
.error_message {
	color: white;
	background-color: @red_message_back;
	padding: 3px 3px;
	text-align: left;
}

/*warning message - text width - right of the label*/
.warning_message {
	color: @orange_message_back;
	background-color: none;
/* 	padding: 3px 3px; */
	text-align: left;
}

/*error message - full width red*/
.green_message {
	color: green;
	background-color: @green_message_back;
	.rounded_corners(5px);
	margin: 3px 0px;
	padding: 3px 3px;
	text-align: left;
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: 300 1em Open Sans,Arial,Helvetica,sans-serif;
	background-color: white;

	/*
		background-image: url("../images/ui/gray-background.png");
		background-repeat: repeat;
		background-position: 0 0,0 0,0 0;
		background-color: #eaeff2;
	*/
}

label {
	font-weight: 400;
}

#main_content
{
	max-width: 950px;
	min-width: 950px;
	width: 80%;
	margin: 0px auto;
	padding: 50px auto;
	background-color: none;
	border: 1px solid @gray_01;
	border-top: none;
	border-bottom: none;
}


.menu_profile{}

.menu_statistics{}

.menu_settings{}

/************
* 	SVGs	*
************/
.edit_svg {
	height: 15px;
	width: 15px;
	fill: @gray_03;
	.transition(fill 0.4s ease-in-out);

	&:hover {
		fill: @orange_message_back;
	}
}

.delete_svg {
	height: 15px;
	width: 15px;
	fill: @gray_03;
	.transition(fill 0.4s ease-in-out);

	&:hover {
		fill: @red;
	}
}

/*******************************************************************************************************************************
 * 							                                                                      MAIN MENU                    *
 ******************************************************************************************************************************/
#mainmenu_container
{
	background:white url("@{images}bar_back.png") repeat-x left top;
	width:100%;
	position:fixed;
	top:0;
	height:40px;
	z-index: 100;
}

#mainmenu
{
	margin: 0 auto;
	max-width: 950px;
	text-align:right;
	z-index: 100;

	.logo
	{
		background-image: url("@{images}logo.png");
		background-repeat: no-repeat;
		background-position: 0 2px;
		float:left;
		padding:20px 36px;
	}

	ul
	{
		padding:10px 16px;
		margin:0px;
		 li
		{
			display: inline;

			a
			{
				color:#ffffff;
				background-color:transparent;
				text-decoration:none;
				padding:12px 12px 5px 12px;
				font-size: 0.9em;
				border-bottom: 5px solid transparent;
				.transition(border 400ms ease-in-out);
			}

			a:hover, a.active
			{
				border-bottom: white 5px solid;
			}

		}

	}

	#search_results {
		background-color: white;
		width:440px;
		float:left;
		display: none;
		margin-left:105px;
		margin-top: -10px;
		text-align: left;

		li {
			display: block;
			border-bottom: 1px solid @gray_01;
			padding-top: 1em;
			padding-bottom: 1em;

			a {
				color: @gray_06;
				width:100%;
				border:none;

				.name {
					font-weight: 600;
					font-size: 1.2em;
				}

				.details {
					font-weight: 300;
					font-size: 0.8em;
				}

				&:hover {
					border:none;
				}
			}

			&:hover {
				background-color: @gray_01;
			}
		}

	}
}

#search {
	display: block;
	float: left;
	margin: 7px 0px 10px 30px;
	padding:0px;
	padding-left:5px;
	height: 26px;
	background: rgba(255, 255, 255, 0.2);
	border: 0;
	border-radius: 3px;
	letter-spacing: -1px;
	width: 50%;
	font-size: 15px;

	&:focus {
		background: white;

		.loading {
			background-image: url("@{images}ui/loading.gif");
			background-repeat: no-repeat;
			background-position: 99% 50%;
			background-size: 20px;
		}
	}

	&::-webkit-input-placeholder {
	   color: rgba(0, 0, 0, 0.6) ;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: rgba(0, 0, 0, 0.8) ;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: rgba(0, 0, 0, 0.8) ;
	}

	&:-ms-input-placeholder {
	   color: rgba(0, 0, 0, 0.8) ;
	}

}









/* HISTORY */
#slider {
	height: 20px;
}

#add_activity_link {
	width:100%;
	float:left;
}

.history_line {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	position: relative;
	width:450px;

	/*line*/
	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: 10px;
		background: @red;
		left: 5%;
		margin-left: -14px;
		z-index: 0;
		box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.2), 0 0 2px 3px rgba(255, 255, 255, 0.2) inset;
	}


	/* post */
	& > li .info {
		margin: 0 0 15px 12%;
		background-color: @gray_01;
		color: @gray_09;
		padding: 10px 10px 10px 15px;
		font-weight: 300;
		line-height: 1.4;
		position: relative;
		.rounded_corners(5px);
		border: 1px solid white;
		box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2), 0 0 16px 4px rgba(255, 255, 255, 0.6) inset;
		display: inline-block;
		width:100%;
		/* 		text-shadow: 0px 0px 4px #000; */

		.performance {
			font-size: 2.4em;
			font-weight: 100;
		}

		.date {
			font-style: italic;
		}

		.discipline {
		}

		.deleteActivity {
			float: right;
			background-repeat: no-repeat;
			min-width: 16px;
		}

		.editActivity {
			float: right;
			background-repeat: no-repeat;
			min-width: 18px;
		}

	}

	/* odd post */
	& > li:nth-child(odd) .info {
		background-color: @gray_01 ;
	}

	/* info end point (left) */
	& > li .info:after {
		right: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-right-color: @gray_01;
		border-width: 10px;
		top: 10px;
	}

	& > li:nth-child(odd) .info:after {
		border-right-color: @gray_01;
	}


	/* ADD activity */
	& > li .add_activity{
		background: @gray_01 !important;
		color: #fff;
		padding: 0.4em;
		font-size: 1.1em;
		position: relative;
		border-radius: 5px;
		border:1px solid @gray_01;
		border-left: none;
		margin-bottom: 30px;
		text-align: right;
		overflow: hidden;
		text-align: left;
		text-shadow: none;

		.data_entry {
			color: black;

			div {
				float:left;
			}

			label {
				font-size: 0.8em;
				padding:0px;
				margin:0px;
			}

			input {
				.rounded_corners(5px);
				box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset;
				border:1px white solid;
				padding: 6px;
				text-align: center;
			}

			.submit_buttons {
			}
		}

	}

	/* EDIT activity */
	#edit_activity_form {
			color: black;
			position: relative;

			div {
				float:left;
			}

			label {
				font-size: 0.8em;
				padding:0px;
				margin:0px;
			}

			input {
				.rounded_corners(5px);
				box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset;
				border:1px white solid;
				padding: 6px;
				text-align: center;
			}

			.submit_buttons {
			}

	}

	& > li .end {
		width:200px;
		margin: 0 0 15px 10%;
		line-height: 1.2;
		position: relative;
		border-radius: 5px;
		background-color: @gray_03;
		color: white;
		padding: 0.5em;
		font-size: 1em;
		font-style: italic;
		position: relative;
		border-radius: 5px;
		border:1px solid @gray_01;
		margin-bottom: 30px;
		text-align: center;
	}


	& > li .info h2 {
		margin-top: 0px;
		padding: 0 0 10px 0;
		border-bottom: 1px solid rgba(255,255,255,0.4);
	}




/* The icons */
	& > li .icon_back {
		width: 40px;
		height: 40px;
		font-size: 1em;
		line-height: 40px;
		position: absolute;
		background: none;
		.rounded_corners(50%);
		box-shadow: 0 0 0 8px @gray_06;
		text-align: center;
		left: 5%;
		/*top: 0;*/
		z-index: -5; /* has to be < 0 for being under the history line */
		margin: 0 0 0 -6.5%;
	}

	& > li .icon {
		width: 40px;
		height: 40px;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		font-size: 1em;
		line-height: 40px;
		position: absolute;
		color: black;
		background: white;
		.rounded_corners(50%);
		text-align: center;
		left: 5%;
		/*top: 0;*/
		margin: 0 0 0 -6.5%;
		.background_shadow();
	}
}


#footer
{
	padding: 1em;
	margin: 1em 1.8em;
	font-size: 0.8em;
	text-align: center;
	border-top: 0.1em solid @red;
}

#logo {
	padding: 1em 2em;
	font-size: 200%;
}

.row {
	width:100%;
	padding:3px 0px;
	display: block;

}


.hidden {
	display:none;
}


.floatleft {
	float:left;
}

.floatright {
	float:right;
}

.clearfloat {
	float:none;
}

a
{
	text-decoration: none;
	color:@red;

	&:visited
	{
		color:@red;
	}
}

/*******************************************************************************************************************************
 * 							                                                                   	  ACTION BUTTONS               *
 ******************************************************************************************************************************/
input.btn {
  border: 0 none !important;
  .rounded_corners(2px) !important;
  box-shadow: none !important;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 12px !important;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  /* width: 16.795%;  auto */
  text-align: center; /* DELETE WHEN WIDTH AUTO */
  
  &.green {
    background: none repeat scroll 0 0 @gray_06 ;
    color: white;
    &:hover {
      background: none repeat scroll 0 0 @green;
      color: white;
    }
  }
}


/* cancel button */
.cancel_link {
	font-size: 0.6em;
	margin:0px;
	padding: 0px 5px;
	font-weight: 400;
}


/*******************************************************************************************************************************
 * 							                                                                      PROFILE                      *
 ******************************************************************************************************************************/

/*profile container (profile pic and full name)*/
#profile_container {
	margin: 55px auto 0px auto;
	width: 100%;
	height: 250px;
	.rounded_corners (5px);




	#image_container {
		width: 150px;
		margin: 0px auto;


		position: relative;

		img {
			width: 140px;
			margin: 5px auto 0px;
			.rounded_corners (70px);
			box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.3);
			display: block;
			/*border:4px solid white; */

		}
	}


	#profileFullName {
		text-align: center;
		width:100%;
		color: @gray_06;

		h3 {
			font-weight: 400;
			text-shadow: 0px 0px 6px #666;
			margin: 0px;
		}

		p {
			font-size: 0.9em;
			font-weight: lighter;
			margin:0px;
		}
	}
}

/*********************************************************** /PROFILE ***************************************/


/*******************************************************************************************************************************
* 							                                                                      STATISTICS                  *
******************************************************************************************************************************/
.discipline_button {
	float: left;
	padding: 0.5em;
	margin-right: 1em;
}

.graphs_loading {
	display: table;
	width:100%;
	height: 200px;
	background-image: url("@{images}ui/loading.gif");
	background-repeat: no-repeat;
	background-position-x: center;
	text-align: center;
	padding: 40px 0;
	margin:100px auto;

	p {
		color: #555;
	}
}

#dashboard {
	margin-top: 30px;
}
/*********************************************************** /STATISTICS ***************************************/


/*******************************************************************************************************************************
* 							                                                                      SETTINGS                    *
******************************************************************************************************************************/

#settingsNav {
	float:left;
	width:170px;
	border-right: 1px solid rgba(0,0,0,0.2);
	padding-top:60px;

	ul {
		list-style: none;
		padding-left: 0px;
		border-top: 1px solid rgba(0,0,0,0.2);

		li {
			border-bottom: 1px solid rgba(0,0,0,0.2);
			padding:5px;

			&:hover {
				background-color: @gray_01;
			}
		}

		.active {
			background-color: @selectedOptionBackground;
		}

		.logout {
			border:none;
			float:right;
			text-align: right;
			margin-top : 120px;
			width: 60px;
		}
	}

}


.settingsContent {
	float:right;
	width:730px;
	padding-left:10px;
	padding-top: 60px;

	h3 {
		width: 100%;
		text-align: center;
	}

	form {
		width:100%;
		display: inline-block;
		margin: 0px;
		padding: 3px 0px;

		label {
			font-size: 1em;
		}

		.textarea {
			width: 550px;
			max-width: 550px;
		}

	}

	.settingsElement {
		border-bottom: 1px solid @gray_01;
		padding: 10px 5px;

		input {
			border: none;
			font-size: 1em;

			&[type="radio"] {
				-webkit-appearance: radio;
			}
		}

		textarea {
			border: none;
			font-size: 1em;
		}

		.existed {
			display: inline-block;
		}

		&:hover{
			background-color: @gray_01;
		}

		.settings_profile_pic_thumb {
			width:40px;
			height:40px;
			margin-left: 5px;
			.rounded_corners();
			vertical-align: middle;
		}
	}

	.non_editable {
		display: inline-block;
	}

	.editable {
		display: none;
	}

	.submitButtonsVisible {
		display: block;
		width:150px;
	}

	.submitButtonsHide {
		visibility: hidden;
	}


	.editLink {
		float:right;
	}

}


/******************************************************/
/*					DATEPICKER		 				  */
/******************************************************/

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    width: 240px;
    padding: 8px;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	&.is-bound {
	    position: absolute;
	    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
	}

    &.is-hidden {
	    display: none;
	}

}

.pika-title {
    position: relative;
    text-align: center;

    select {
	    cursor: pointer;
	    position: absolute;
	    z-index: 9998;
	    margin: 0;
	    left: 0;
	    top: 5px;
	    filter: alpha(opacity=0);
	    opacity: 0;
	}

}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;

    &:hover {
	    opacity: 1;
	}

	&.is-disabled {
	    cursor: default;
	    opacity: .2;
	}


}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;

    th, td {
	    width: 14.285714285714286%;
	    padding: 0;
	}

	th {
	    color: #999;
	    font-size: 12px;
	    line-height: 25px;
	    font-weight: bold;
	    text-align: center;
	}

}


.pika-button {
    cursor: pointer;
    display: block;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;

    &:hover {
	    color: #fff !important;
	    background: #ff8000 !important;
	    box-shadow: none !important;
	    border-radius: 3px !important;
	}

}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}



/******************************************************/
/*			MULTIPLE DEVICES SUPPORT				  */
/******************************************************/

/*******************************************************************************************************************************************************/
/************************** iPhone 	 ***************************************************************************************************************** */
/*******************************************************************************************************************************************************/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
	body{}

	#content
	{}

	#main_content
	{
		max-width: 990px;
		min-width: 420px;
		width: 100%;
		margin: 0px auto;
		padding: 50px auto;
		background-color: none;
		border: none;
	}

	/* MENU ITEMS */
	.menu_profile{}

	.menu_statistics{}

	.menu_settings{}


	//----- SVGs
	.edit_svg {
		height: 20px;
		width: 20px;
		fill: @gray_03 ;

		&:hover {
			fill: @gray_03 ;
		}
	}

	.delete_svg {
		height: 20px;
		width: 20px;
		fill: @gray_03;

		&:hover {
			fill: @gray_03 ;
		}
	}

	select {
		height:30px;
		line-height: 20px;
	}

	//------HISTORY
	#slider {
		height: 20px;
	}

	#add_activity_link {
		width:100%;
		float:left;
	}

	.history_line {
		margin: 0 auto;
		padding: 0;
		list-style: none;
		position: relative;
		width:450px;

		/*line*/
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			width: 10px;
			background: @red;
			left: 5%;
			margin-left: -14px;
			z-index: 0;
			box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.2), 0 0 2px 3px rgba(255, 255, 255, 0.2) inset;
		}


		/* post */
		& > li .info {
			margin: 0 0 15px 12%;
			background-color: @gray_01;
			color: @gray_09;
			padding: 10px 10px 10px 15px;
			font-weight: 300;
			line-height: 1.4;
			position: relative;
			.rounded_corners(5px);
			border: 1px solid white;
			box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2), 0 0 16px 4px rgba(255, 255, 255, 0.6) inset;
			display: inline-block;
			width:100%;
			/* 		text-shadow: 0px 0px 4px #000; */

			.performance {
				font-size: 2.4em;
				font-weight: 100;
			}

			.date {
				font-style: italic;
			}

			.discipline {
			}

			.deleteActivity {
				float: right;
				background-repeat: no-repeat;
				min-width: 16px;
			}

			.editActivity {
				float: right;
				background-repeat: no-repeat;
				min-width: 18px;
			}

		}

		/* odd post */
		& > li:nth-child(odd) .info {
			background-color: @gray_01 ;
		}

		/* info end point (left) */
		& > li .info:after {
			right: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-right-color: @gray_01;
			border-width: 10px;
			top: 10px;
		}

		& > li:nth-child(odd) .info:after {
			border-right-color: @gray_01;
		}


		/* ADD activity */
		& > li .add_activity{
			background: @gray_01 !important;
			color: #fff;
			padding: 0.4em;
			font-size: 1.1em;
			position: relative;
			border-radius: 5px;
			border:1px solid @gray_01;
			border-left: none;
			margin-bottom: 30px;
			text-align: right;
			overflow: hidden;
			text-align: left;
			text-shadow: none;

			.data_entry {
				color: black;

				div {
					float:left;
				}

				label {
					font-size: 0.8em;
					padding:0px;
					margin:0px;
				}

				input {
					.rounded_corners(5px);
					box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset;
					border:1px white solid;
					padding: 6px;
					text-align: center;
				}

				.submit_buttons {
				}
			}

		}

		/* EDIT activity */
		#edit_activity_form {
				color: black;
				position: relative;

				div {
					float:left;
				}

				label {
					font-size: 0.8em;
					padding:0px;
					margin:0px;
				}

				input {
					.rounded_corners(5px);
					box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset;
					border:1px white solid;
					padding: 6px;
					text-align: center;
				}

				.submit_buttons {
				}

		}

		& > li .end {
			width:200px;
			margin: 0 0 15px 10%;
			line-height: 1.2;
			position: relative;
			border-radius: 5px;
			background-color: @gray_03;
			color: white;
			padding: 0.5em;
			font-size: 1em;
			font-style: italic;
			position: relative;
			border-radius: 5px;
			border:1px solid @gray_01;
			margin-bottom: 30px;
			text-align: center;
		}


		& > li .info h2 {
			margin-top: 0px;
			padding: 0 0 10px 0;
			border-bottom: 1px solid rgba(255,255,255,0.4);
		}




		/* The icons */
		& > li .icon_back {
			width: 40px;
			height: 40px;
			font-size: 1em;
			line-height: 40px;
			position: absolute;
			background: none;
			.rounded_corners(50%);
			box-shadow: 0 0 0 8px @gray_06;
			text-align: center;
			left: 5%;
			/*top: 0;*/
			z-index: -5; /* has to be < 0 for being under the history line */
			margin: 0 0 0 -6.5%;
		}

		& > li .icon {
			width: 40px;
			height: 40px;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			font-size: 1em;
			line-height: 40px;
			position: absolute;
			color: black;
			background: white;
			.rounded_corners(50%);
			text-align: center;
			left: 5%;
			/*top: 0;*/
			margin: 0 0 0 -6.5%;
			.background_shadow();
		}
	}


	//------SETTINGS
	#settingsNav {
		border-right: none;
		padding-top:80px;
		width:30%;

		ul {
			list-style: none;
			padding-left: 0px;
			border: none;

			li {
				border: none;
				width: 100%;
				height: 50px;
				line-height: 50px;
				text-align: center;
				padding:0px;

				&:hover {
					background-color: @gray_01;
				}
			}


			.active {
				background-color: @selectedOptionBackground;
			}

			.logout {
				border-top: none;
				margin-top: 60px;
				text-align: center;
				float: left;
				width: 100%;
			}
		}
	}


	.settingsContent {
		float:right;
		width:69%;
		padding: 60px 0px 0px 0px;
		border-left: 1px solid @gray_01; 

		h3 {
			width: 100%;
			text-align: center;
		}

		form {
			width:100%;
			display: inline-block;
			margin: 0px;
			padding: 3px 0px;

			label {
				font-size: 1em;
				float:left;
			}

			.textarea {
				width: 550px;
				max-width: 550px;
			}

		}

		.settingsElement {
			border-bottom: 1px solid @gray_01;
			padding: 10px 5px;
			background-color: white;

			input {
				border: none;
				font-size: 1em;

				&[type="radio"] {
					-webkit-appearance: radio;
				}
			}

			textarea {
				border: none;
				font-size: 1em;
			}

			.existed {
				display: inline-block;
			}

			&:hover{
				background-color: @gray_01;
			}
		}

		.edit_on {
			background-color: @gray_01;
		}


		.editable {

			input {
				.rounded_corners(5px);
				box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset;
				border:1px white solid;
			}

			textarea {
				.rounded_corners(5px);
				box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset;
				border:1px white solid;
			}
		}

		.submitButtonsVisible {
			display: block;
			width:150px;
		}

		.submitButtonsHide {
			visibility: hidden;
		}


		.editLink {
			float:right;
		}

	}


	//------STATISTICS
	#dashboard {
		margin-top: 30px;

		#control {
			display: none;
		}
	}
}

/*******************************************************************************************************************************************************/
/************************** iPad 	 ***************************************************************************************************************** */
/*******************************************************************************************************************************************************/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	body
	{}

	#content
	{}

	#main_content
	{
		max-width: 990px;
		min-width: 420px;
		width: 100%;
		margin: 0px auto;
		padding: 50px auto;
		background-color: none;
		border: none;
	}

	/* MENU ITEMS */
	.menu_profile{}

	.menu_statistics{}

	.menu_settings{}


	//----- SVGs
	.edit_svg {
		height: 20px;
		width: 20px;
		fill: @gray_03 ;

		&:hover {
			fill: @gray_03 ;
		}
	}

	.delete_svg {
		height: 20px;
		width: 20px;
		fill: @gray_03;

		&:hover {
			fill: @gray_03 ;
		}
	}

	select {
		height:30px;
		line-height: 20px;
	}

	//------HISTORY
	#slider {
		height: 20px;
	}

	#add_activity_link {
		width:100%;
		float:left;
	}

	.history_line {
		margin: 0 auto;
		padding: 0;
		list-style: none;
		position: relative;
		width:450px;

		/*line*/
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			width: 10px;
			background: @red;
			left: 5%;
			margin-left: -14px;
			z-index: 0;
			box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.2), 0 0 2px 3px rgba(255, 255, 255, 0.2) inset;
		}


		/* post */
		& > li .info {
			margin: 0 0 15px 12%;
			background-color: @gray_01;
			color: @gray_09;
			padding: 10px 10px 10px 15px;
			font-weight: 300;
			line-height: 1.4;
			position: relative;
			.rounded_corners(5px);
			border: 1px solid white;
			box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2), 0 0 16px 4px rgba(255, 255, 255, 0.6) inset;
			display: inline-block;
			width:100%;
			/* 		text-shadow: 0px 0px 4px #000; */

			.performance {
				font-size: 2.4em;
				font-weight: 100;
			}

			.date {
				font-style: italic;
			}

			.discipline {
			}

			.deleteActivity {
				float: right;
				background-repeat: no-repeat;
				min-width: 16px;
			}

			.editActivity {
				float: right;
				background-repeat: no-repeat;
				min-width: 18px;
			}

		}

		/* odd post */
		& > li:nth-child(odd) .info {
			background-color: @gray_01 ;
		}

		/* info end point (left) */
		& > li .info:after {
			right: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-right-color: @gray_01;
			border-width: 10px;
			top: 10px;
		}

		& > li:nth-child(odd) .info:after {
			border-right-color: @gray_01;
		}


		/* ADD activity */
		& > li .add_activity{
			background: @gray_01 !important;
			color: #fff;
			padding: 0.4em;
			font-size: 1.1em;
			position: relative;
			border-radius: 5px;
			border:1px solid @gray_01;
			border-left: none;
			margin-bottom: 30px;
			text-align: right;
			overflow: hidden;
			text-align: left;
			text-shadow: none;

			.data_entry {
				color: black;

				div {
					float:left;
				}

				label {
					font-size: 0.8em;
					padding:0px;
					margin:0px;
				}

				input {
					.rounded_corners(5px);
					box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset;
					border:1px white solid;
					padding: 6px;
					text-align: center;
				}

				.submit_buttons {
				}
			}

		}

		/* EDIT activity */
		#edit_activity_form {
				color: black;
				position: relative;

				div {
					float:left;
				}

				label {
					font-size: 0.8em;
					padding:0px;
					margin:0px;
				}

				input {
					.rounded_corners(5px);
					box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset;
					border:1px white solid;
					padding: 6px;
					text-align: center;
				}

				.submit_buttons {
				}

		}

		& > li .end {
			width:200px;
			margin: 0 0 15px 10%;
			line-height: 1.2;
			position: relative;
			border-radius: 5px;
			background-color: @gray_03;
			color: white;
			padding: 0.5em;
			font-size: 1em;
			font-style: italic;
			position: relative;
			border-radius: 5px;
			border:1px solid @gray_01;
			margin-bottom: 30px;
			text-align: center;
		}


		& > li .info h2 {
			margin-top: 0px;
			padding: 0 0 10px 0;
			border-bottom: 1px solid rgba(255,255,255,0.4);
		}




		/* The icons */
		& > li .icon_back {
			width: 40px;
			height: 40px;
			font-size: 1em;
			line-height: 40px;
			position: absolute;
			background: none;
			.rounded_corners(50%);
			box-shadow: 0 0 0 8px @gray_06;
			text-align: center;
			left: 5%;
			/*top: 0;*/
			z-index: -5; /* has to be < 0 for being under the history line */
			margin: 0 0 0 -6.5%;
		}

		& > li .icon {
			width: 40px;
			height: 40px;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			font-size: 1em;
			line-height: 40px;
			position: absolute;
			color: black;
			background: white;
			.rounded_corners(50%);
			text-align: center;
			left: 5%;
			/*top: 0;*/
			margin: 0 0 0 -6.5%;
			.background_shadow();
		}
	}


	//------SETTINGS
	#settingsNav {
		border-right: none;
		padding-top:80px;
		width:30%;

		ul {
			list-style: none;
			padding-left: 0px;
			border: none;

			li {
				border: none;
				width: 100%;
				height: 50px;
				line-height: 50px;
				text-align: center;
				padding:0px;

				&:hover {
					background-color: @gray_01;
				}
			}


			.active {
				background-color: @selectedOptionBackground;
			}

			.logout {
				border-top: none;
				margin-top: 60px;
				text-align: center;
				float: left;
				width: 100%;
			}
		}
	}


	.settingsContent {
		float:right;
		width:69%;
		padding: 60px 0px 0px 0px;
		border-left: 1px solid @gray_01; 

		h3 {
			width: 100%;
			text-align: center;
		}

		form {
			width:100%;
			display: inline-block;
			margin: 0px;
			padding: 3px 0px;

			label {
				font-size: 1em;
				float:left;
			}

			.textarea {
				width: 550px;
				max-width: 550px;
			}

		}

		.settingsElement {
			border-bottom: 1px solid @gray_01;
			padding: 10px 5px;
			background-color: white;

			input {
				border: none;
				font-size: 1em;

				&[type="radio"] {
					-webkit-appearance: radio;
				}
			}

			textarea {
				border: none;
				font-size: 1em;
			}

			.existed {
				display: inline-block;
			}

			&:hover{
				background-color: @gray_01;
			}
		}

		.edit_on {
			background-color: @gray_01;
		}


		.editable {

			input {
				.rounded_corners(5px);
				box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset;
				border:1px white solid;
			}

			textarea {
				.rounded_corners(5px);
				box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset;
				border:1px white solid;
			}
		}

		.submitButtonsVisible {
			display: block;
			width:150px;
		}

		.submitButtonsHide {
			visibility: hidden;
		}


		.editLink {
			float:right;
		}

	}


	//------STATISTICS
	#dashboard {
		margin-top: 30px;

		#control {
			display: none;
		}
	}

}


/******************************************************/
/*					FUNCTIONS		 				  */
/******************************************************/

/* rounded corners function : 5px is default radius */
.rounded_corners(@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

/* background_shadow() */
.background_shadow() {
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM5JSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 39%, rgba(225,225,225,1) 49%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(39%,rgba(241,241,241,1)), color-stop(49%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 39%,rgba(225,225,225,1) 49%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 39%,rgba(225,225,225,1) 49%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 39%,rgba(225,225,225,1) 49%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 39%,rgba(225,225,225,1) 49%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-8 */

}


/* transition : function for browsers support*/
.transition(@text) {
	transition : @text;
	-webkit-transition: @text;
	-moz-transition: @text;
}


