/* ----------------------------------------------------*/
/* ------------------------------------------  GENERAL */
body {
  margin: 0;
  padding: 0;
  color: #555;
  font: 300 1em Open Sans, Arial, Helvetica, sans-serif;
  background: white;
}
#page {
  margin: 0 auto;
  width: 950px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
}
#content {
  padding: 0;
  margin-top: 40px;
}
#main_content {
  width: 918px;
  margin: 50px auto;
  background-color: white;
}
#footer {
  padding: 1em;
  margin: 1em 1.8em;
  font-size: 0.8em;
  text-align: center;
  border-top: 0.1em solid #ae3731;
}
#logo {
  padding: 1em 2em;
  font-size: 200%;
}
.row {
  width: 100%;
  padding: 10px 0px;
  display: inline-block;
}
.row label {
  color: #ae3731;
}
input {
  height: 18px;
  width: 200px;
  font-weight: 100;
  font-size: 1em;
}
label {
  display: block;
  width: 200px;
  font-size: 14px;
}
textarea {
  max-width: 910px;
}
.hidden {
  display: none;
}
/* /GENERAL */
.big_quote {
  padding: 50px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 3.1em;
  font-style: italic;
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
a {
  text-decoration: none;
  color: #ae3731;
}
a:visited {
  color: #ae3731;
}
/* ----------------------------------------------------*/
/* ----------------------------------------  MAIN MENU */
#mainmenu_container {
  background: #ffffff url(../images/bar_back.png) repeat-x left top;
  width: 100%;
  position: fixed;
  top: 0;
  height: 40px;
  z-index: 100;
}
#mainmenu {
  margin: 0 auto;
  width: 950px;
  text-align: right;
  z-index: 100;
  /* DROPDOWN */

  /* /DROPDOWN */

}
#mainmenu .logo {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 0 2px;
  float: left;
  padding: 20px 36px;
}
#mainmenu .settings {
  background-image: url(../images/settings_inactive.png);
  background-repeat: no-repeat;
  background-position: center 8px;
  padding: 10px 20px 7px 20px;
  margin-right: -8px;
}
#mainmenu .settings:hover {
  background-image: url(../images/settings_active.png);
}
#mainmenu .settings .active {
  background-image: url(../images/settings_active.png);
  border-bottom: white 4px solid;
}
#mainmenu ul {
  padding: 10px 16px;
  margin: 0px;
}
#mainmenu ul li {
  display: inline;
}
#mainmenu ul li a {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
  padding: 12px 12px 7px 12px;
  font-size: 0.9em;
}
#mainmenu ul li a:hover,
#mainmenu ul li a.active {
  border-bottom: white 4px solid;
}
#mainmenu ul.dropdown li:hover {
  position: relative;
}
#mainmenu ul.dropdown ul {
  visibility: hidden;
  position: absolute;
  padding: 10px 0px 0px 0px;
  left: -40px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  z-index: 100;
}
#mainmenu ul.dropdown ul li {
  background: #ae3731;
  display: block;
  padding-top: 10px;
  height: 27px;
  width: 80px;
  text-align: center;
}
#mainmenu ul.dropdown ul li a {
  background-color: #ae3731;
}
#mainmenu ul.dropdown ul li a:hover {
  border-bottom: none;
  font-weight: 400;
}
#mainmenu .settings_dropdown {
  padding-top: 5px !important;
  z-index: 95 !important;
}
/* /MAIN MENU */
