/*******************************************************************************************************************************
 * 							                                                                      GENERAL                      *
 ******************************************************************************************************************************/
body {
  margin: 0;
  padding: 0;
  color: #555;
  font: 300 1em Open Sans, Arial, Helvetica, sans-serif;
  background: white;
}
#page {
  margin: 0 auto;
  width: 950px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
}
#content {
  padding: 0;
  margin-top: 40px;
}
#main_content {
  width: 950px;
  margin: 50px auto;
  background-color: white;
}
#footer {
  padding: 1em;
  margin: 1em 1.8em;
  font-size: 0.8em;
  text-align: center;
  border-top: 0.1em solid #ae3731;
}
#logo {
  padding: 1em 2em;
  font-size: 200%;
}
.row {
  width: 100%;
  padding: 10px 0px;
  display: inline-block;
}
.row label {
  color: #ae3731;
}
input {
  height: 18px;
  width: 200px;
  font-weight: 100;
  font-size: 1em;
}
.hidden {
  display: none;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
a {
  text-decoration: none;
  color: #ae3731;
}
a:visited {
  color: #ae3731;
}
/*********************************************************** /GENERAL ***************************************/
/*******************************************************************************************************************************
 * 							                                                                      MAIN MENU                    *
 ******************************************************************************************************************************/
#mainmenu_container {
  background: #ffffff url(../images/bar_back.png) repeat-x left top;
  width: 100%;
  position: fixed;
  top: 0;
  height: 40px;
  z-index: 100;
}
#mainmenu {
  margin: 0 auto;
  width: 950px;
  text-align: right;
  z-index: 100;
  /* DROPDOWN */

  /* /DROPDOWN */

}
#mainmenu .logo {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 0 2px;
  float: left;
  padding: 20px 36px;
}
#mainmenu .settings {
  background-image: url(../images/settings_inactive.png);
  background-repeat: no-repeat;
  background-position: center 8px;
  padding: 10px 20px 7px 20px;
  margin-right: -8px;
}
#mainmenu .settings:hover {
  background-image: url(../images/settings_active.png);
}
#mainmenu .settings .active {
  background-image: url(../images/settings_active.png);
  border-bottom: white 4px solid;
}
#mainmenu ul {
  padding: 10px 16px;
  margin: 0px;
}
#mainmenu ul li {
  display: inline;
}
#mainmenu ul li a {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
  padding: 12px 12px 7px 12px;
  font-size: 0.9em;
}
#mainmenu ul li a:hover,
#mainmenu ul li a.active {
  border-bottom: white 4px solid;
}
#mainmenu ul.dropdown li:hover {
  position: relative;
}
#mainmenu ul.dropdown ul {
  visibility: hidden;
  position: absolute;
  padding: 10px 0px 0px 0px;
  left: -40px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  z-index: 100;
}
#mainmenu ul.dropdown ul li {
  background: #ae3731;
  display: block;
  padding-top: 10px;
  height: 27px;
  width: 80px;
  text-align: center;
}
#mainmenu ul.dropdown ul li a {
  background-color: #ae3731;
}
#mainmenu ul.dropdown ul li a:hover {
  border-bottom: none;
  font-weight: 400;
}
#mainmenu .settings_dropdown {
  padding-top: 5px !important;
  z-index: 95 !important;
}
/*********************************************************** /MAIN MENU ***************************************/
/*******************************************************************************************************************************
 * 							                                                                      PROFILE                      *
 ******************************************************************************************************************************/
/*profile container (profile pic and full name)*/
#profile_container {
  margin: 35px auto;
  width: 100%;
  height: 250px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: url('../images/cover_photos/dimitra.png');
  background-size: cover;
  /* cover photo */

  /*
		background-repeat: no-repeat;
		background-position:  top center;
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-image: url('../images/cover_photos/mo.jpg');
	*/

}
#profile_container #image_container {
  width: 150px;
  margin: 0px auto;
}
#profile_container #image_container img {
  width: 140px;
  margin: 25px auto 0px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  border-radius: 70px;
  border: 4px solid white;
}
#profile_container #profileFullName {
  text-align: center;
  width: 100%;
  color: white;
}
#profile_container #profileFullName h3 {
  font-weight: 400;
  font-size: 1.4em;
  text-shadow: 0px 0px 6px #666;
}
/*********************************************************** /PROFILE ***************************************/
/*******************************************************************************************************************************
* 							                                                                      HISTORY                    *
******************************************************************************************************************************/
.history_line {
  margin: 30px auto 0 auto;
  padding: 0;
  list-style: none;
  position: relative;
  width: 450px;
  /*line*/

  /* Right content */
  /* info end point (left) */
  /* The icons */
}
.history_line:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #ae3731;
  left: 5%;
  margin-left: -14px;
}
.history_line > li .info {
  margin: 0 0 15px 12%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1em;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  width: 350px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.history_line > li .info .performance {
  font-size: 2.4em;
  font-weight: 100;
}
.history_line > li .info .date {
  font-size: 1em;
  font-style: italic;
}
.history_line > li .info .discipline {
  font-size: 1em;
}
.history_line > li .add_activity {
  background: none;
  color: #fff;
  padding: 0.5em;
  font-size: 1.1em;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: none;
  width: 350px;
  margin-bottom: 30px;
  text-align: right;
}
.history_line > li .end {
  width: 200px;
  margin: 0 0 15px 10%;
  line-height: 1.2;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 0.5em;
  font-size: 1em;
  font-style: italic;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  text-align: center;
}
.history_line > li:nth-child(odd) .info {
  background: rgba(0, 0, 0, 0.1);
}
.history_line > li .info h2 {
  margin-top: 0px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.history_line > li .info:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: rgba(0, 0, 0, 0.3);
  border-width: 10px;
  top: 10px;
}
.history_line > li:nth-child(odd) .info:after {
  border-right-color: rgba(0, 0, 0, 0.1);
}
.history_line > li .icon {
  width: 40px;
  height: 40px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1em;
  line-height: 40px;
  position: absolute;
  color: #black;
  background: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  left: 5%;
  /*top: 0;*/

  margin: 0 0 0 -6.5%;
}
/*********************************************************** /PROFILE ***************************************/
/*******************************************************************************************************************************
* 							                                                                      SETTINGS                    *
******************************************************************************************************************************/
#settingsNav {
  float: left;
  width: 170px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
#settingsNav ul {
  list-style: none;
  padding-left: 0px;
}
#settingsNav ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
}
#settingsNav ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#settingsNav ul .first {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
#settingsNav ul .active {
  background-color: rgba(0, 0, 0, 0.1);
}
#settingsNav ul .logout {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
#settingsContent {
  float: right;
  width: 730px;
  padding-left: 10px;
  padding-top: 30px;
}
#settingsContent form {
  width: 100%;
  display: inline-block;
  padding: 20px 0px;
}
#settingsContent form label {
  font-size: 1.2em;
  float: left;
}
#settingsContent .settingsElement {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#settingsContent .editLink {
  float: right;
}
/*********************************************************** /SETTINGS ***************************************/
/******************************************************/
/*					FUNCTIONS		 				  */
/******************************************************/
/*rounded corners function : 5px is default radius*/
