/* ----------------------------------------------------*/
/* ------------------------------------------  GENERAL */
body {
  margin: 0;
  padding: 0;
  color: #555;
  font: 300 1em Open Sans, Arial, Helvetica, sans-serif;
  background: white;
}
#page {
  margin: 0 auto;
  width: 950px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
}
#content {
  padding: 0;
  margin-top: 40px;
}
#main_content {
  width: 918px;
  margin: 50px auto;
  background-color: white;
}
#footer {
  padding: 1em;
  margin: 1em 1.8em;
  font-size: 0.8em;
  text-align: center;
  border-top: 0.1em solid #ae3731;
}
#logo {
  padding: 1em 2em;
  font-size: 200%;
}
.row {
  width: 100%;
  padding: 10px 0px;
  display: inline-block;
}
.row label {
  color: #ae3731;
}
input {
  height: 18px;
  width: 200px;
  font-weight: 100;
  font-size: 1em;
}
label {
  display: block;
  width: 200px;
  font-size: 14px;
}
textarea {
  max-width: 910px;
}
.hidden {
  display: none;
}
/* /GENERAL */
.big_quote {
  padding: 50px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 3.1em;
  font-style: italic;
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
a {
  text-decoration: none;
  color: #ae3731;
}
a:visited {
  color: #ae3731;
}
/* ----------------------------------------------------*/
/* ----------------------------------------  MAIN MENU */
#mainmenu_container {
  background: #ffffff url(../images/bar_back.png) repeat-x left top;
  width: 100%;
  position: fixed;
  top: 0;
  height: 40px;
  z-index: 100;
}
#mainmenu {
  margin: 0 auto;
  width: 950px;
  text-align: right;
  z-index: 100;
  /* DROPDOWN */

  /* /DROPDOWN */

}
#mainmenu .logo {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 0 2px;
  float: left;
  padding: 20px 36px;
}
#mainmenu .settings {
  background-image: url(../images/settings_inactive.png);
  background-repeat: no-repeat;
  background-position: center 8px;
  padding: 10px 20px 7px 20px;
  margin-right: -8px;
}
#mainmenu .settings:hover {
  background-image: url(../images/settings_active.png);
}
#mainmenu .settings .active {
  background-image: url(../images/settings_active.png);
  border-bottom: white 4px solid;
}
#mainmenu ul {
  padding: 10px 16px;
  margin: 0px;
}
#mainmenu ul li {
  display: inline;
}
#mainmenu ul li a {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
  padding: 12px 12px 7px 12px;
  font-size: 0.9em;
}
#mainmenu ul li a:hover,
#mainmenu ul li a.active {
  border-bottom: white 4px solid;
}
#mainmenu ul.dropdown li:hover {
  position: relative;
}
#mainmenu ul.dropdown ul {
  visibility: hidden;
  position: absolute;
  padding: 10px 0px 0px 0px;
  left: -40px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  z-index: 100;
}
#mainmenu ul.dropdown ul li {
  background: #ae3731;
  display: block;
  padding-top: 10px;
  height: 27px;
  width: 80px;
  text-align: center;
}
#mainmenu ul.dropdown ul li a {
  background-color: #ae3731;
}
#mainmenu ul.dropdown ul li a:hover {
  border-bottom: none;
  font-weight: 400;
}
#mainmenu .settings_dropdown {
  padding-top: 5px !important;
  z-index: 95 !important;
}
/* /MAIN MENU */
/* ----------------------------------------------------*/
/* --------------------------------- PROFILE CONTAINER */
#profile_container {
  width: 918px;
  margin: 0px auto;
  height: 165px;
  padding-bottom: 16px;
  padding-top: 16px;
}
#profile_container #image_container_1 {
  background-image: url('../images/profile_pics/001.png');
}
#profile_container #image_container_2 {
  background-image: url('../images/profile_pics/002.png');
}
#profile_container #image_container_3 {
  background-image: url('../images/profile_pics/003.png');
}
#profile_container #image_container_4 {
  background-image: url('../images/profile_pics/004.png');
}
#profile_container .picture_container {
  margin: 0;
  height: 165px;
  width: 165px;
  background-color: rgba(0, 0, 0, 0.1);
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  /* Circle */

  /*
			-webkit-border-radius: 80px;
			-moz-border-radius: 80px;
			-o-border-radius: 80px;
			-ms-border-radius: 80px;
			border-radius: 80px;
		*/

}
#profile_container .edit_profile_link {
  font-size: 0.9em;
  padding: 10px;
}
#profile_container #info_container {
  margin: 0;
  height: 165px;
  width: 720px;
  padding: 0px 16px;
  background-color: white;
  float: left;
}
#profile_container #info_container .profile_data {
  width: 100%;
  margin: 0px;
  color: rgba(0, 0, 0, 0.3);
}
#profile_container #info_container .info_left {
  float: left;
  width: 595px;
}
#profile_container #info_container .info_right {
  padding-top: 50px;
  float: right;
  width: 120px;
}
#profile_container #info_container .info_right a {
  text-decoration: none;
  color: #ae3731;
}
#profile_container #info_container .info_right a:hover {
  font-weight: bold;
}
#profile_container #info_user_name {
  padding: 0px;
  margin: 0px;
}
#profile_container #info_user_name h4 {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 1.5em;
}
/* /PROFILE CONTAINER */
/* ----------------------------------------------------*/
/* --------------------------------  NEW ACTIVITY FORM */
/*ADD NEW ACTIVITY*/
#toggle_new_activity {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
#toggle_new_activity:hover {
  text-decoration: underline;
  font-weight: 400;
}
/* / ADD NEW ACTIVITY */
/* for date and time see: datetime.less */
#new_activity_form {
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  padding-left: 10px;
  display: inline-block;
  /*text field input*/

  /* private-public selector */

}
#new_activity_form a {
  margin: 0px 415px;
  color: #ae3731;
}
#new_activity_form a:hover {
  text-decoration: none;
}
#new_activity_form .performance_input div {
  float: left;
  width: 90px;
  margin-right: 10px;
}
#new_activity_form .performance_input label {
  float: left;
  width: 90px;
  overflow: hidden;
}
#new_activity_form .performance_input input {
  width: 70px;
  text-align: center;
}
#new_activity_form .onoffswitch {
  position: relative;
  width: 106px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 0px 0px 10px 0px;
}
#new_activity_form .onoffswitch-checkbox {
  display: none;
}
#new_activity_form .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  width: 106px;
}
#new_activity_form .onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
#new_activity_form .onoffswitch-inner:before,
#new_activity_form .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#new_activity_form .onoffswitch-inner:before {
  content: "PUBLIC";
  padding-left: 7px;
  background-color: #AE3731;
  color: #FFFFFF;
}
#new_activity_form .onoffswitch-inner:after {
  content: "PRIVATE";
  padding-right: 7px;
  background-color: #7A7A7A;
  color: #FFFFFF;
  text-align: right;
}
#new_activity_form .onoffswitch-switch {
  width: 19px;
  margin: 8px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 67px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
#new_activity_form .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
#new_activity_form .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
#new_activity_form .left_column {
  width: 50%;
  float: left;
}
#new_activity_form .right_column {
  width: 50%;
  float: right;
}
/* /NEW ACTIVITY FORM */
/* ----------------------------------------------------*/
/* ----------------------------------------  USER TIMELINE */
.timeline {
  position: relative;
  width: 900px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}
.timeline:before {
  position: absolute;
  left: 10%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #505050;
  background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #7db9e8));
  background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  z-index: 5;
}
.timeline li {
  padding: 1em 0;
}
.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.direction-l {
  position: relative;
  width: 80px;
  float: left;
  text-align: right;
}
.direction-r {
  position: relative;
  width: 782px;
  float: right;
}
.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}
.flag {
  position: relative;
  display: inline;
  background: #f8f8f8;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}
.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}
.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}
.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -42px;
  content: ' ';
  display: block;
  width: 30px;
  height: 25px;
  margin-top: -10px;
  background: #fff;
  z-index: 10;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
  background-image: url('../images/ui_components/medal.png');
}
.direction-r .flag:before {
  left: -42px;
}
.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: #fa5050;
  vertical-align: middle;
}
.direction-l .time-wrapper {
  float: left;
}
.direction-r .time-wrapper {
  float: right;
}
.time {
  display: inline-block;
  padding: 4px 6px;
  background: #f8f8f8;
}
.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}
.direction-r .desc {
  margin: 1em 0 0 0.75em;
}
.timeline_thumb {
  width: 50px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  float: left;
  margin-left: 20px;
  margin-top: -10px;
}
/* ================ Timeline Media Queries ================ */
@media screen and (max-width: 660px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }
  .timeline li {
    padding: 2em 0;
  }
  .direction-l,
  .direction-r {
    float: none;
    width: 100%;
    text-align: center;
  }
  .flag-wrapper {
    text-align: center;
  }
  .flag {
    background: #ffffff;
    z-index: 15;
  }
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #ff5050;
    z-index: 10;
  }
  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: #ffffff;
    border-width: 8px;
    pointer-events: none;
  }
  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }
  .direction-l .time-wrapper {
    float: none;
  }
  .direction-r .time-wrapper {
    float: none;
  }
  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: #f5f5f5;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 15;
  }
  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 15;
  }
}
/* /USER TIMELINE */
/* ----------------------------------------------------*/
/* ----------------------------------------  SETTINGS */
.settings_form {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 0px 0px 15px 16px;
}
.settings_form h4 {
  text-align: center;
  padding: 5px 0px 0px 0px;
  margin: 5px;
  font-size: 1.3em;
  font-weight: 200;
}
/* /SETTINGS */
/* ----------------------------------------------------*/
/* ---------------------------------------  STATISTICS */
#discipline_title {
  margin: 30px auto;
  text-align: center;
}
#discipline_title h3 {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: black;
  padding: 5px;
  width: 200px;
  margin: 50px auto 10px;
}
/* /STATISTICS */
