/* @red:#AE3731; */
@lightgray : rgba(0,0,0,0.1);
@mediumgray : rgba(0,0,0,0.3);
@darkgray : rgba(0,0,0,0.6);

@selectedOptionBackground : rgba(0,0,0,0.1);

@orange_message_back : #E87600;
@red_message_back : #D14337;
@green_message_back : #C6FDBC;


/* PALETTE_1 */
/*@peanut : #9CFFCE; /* (156,255,206) */
/*@raf : #9ABBD6; /* (154,187,214) */
/*@blue : #588EBB; /* (88,142,187) */
/*@navy : #345570; /* (52,85,112) */
/*@red : #B93838; /* (185,56,56) */

/* PALETTE_2 */
@light_gray : #F6F6F6; /* (156,255,206) */
@snow : #E8E8E8; /* (154,187,214) */
@dark_gray : #333333; /* (88,142,187) */
@red : #990100; /* (52,85,112) */
@red_bright : #90504; /* (185,56,56) */






/*******************************************************************************************************************************
 * 							                                                                      GENERAL                      *
 ******************************************************************************************************************************/
/* GENERAL */

/*error message - text width - right of the label*/
.error_message {
	color: white;
	background-color: @red_message_back;
	padding: 3px 3px;
	text-align: left;
}

/*warning message - text width - right of the label*/
.warning_message {
	color: @orange_message_back;
	background-color: none;
/* 	padding: 3px 3px; */
	text-align: left;
}

/*error message - full width red*/
.green_message {
	color: green;
	background-color: @green_message_back;
	.rounded_corners(5px);
	margin: 3px 0px;
	padding: 3px 3px;
	text-align: left;
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: 300 1em Open Sans,Arial,Helvetica,sans-serif;
	background-color: white;

	/*
		background-image: url("../images/ui/gray-background.png");
		background-repeat: repeat;
		background-position: 0 0,0 0,0 0;
		background-color: #eaeff2;
	*/
}

#content
{
    padding: 0;
    margin-top: 40px;
}

#main_content
{
	max-width: 950px;
	min-width: 950px;
	width: 80%;
	margin: 0px auto;
	padding: 50px auto;
	background-color: none;
	border: 1px solid @light_gray;
	border-top: none;
	border-bottom: none;
}


.menu_profile{}

.menu_statistics{}

.menu_settings{}










/*******************************************************************************************************************************
 * 							                                                                      MAIN MENU                    *
 ******************************************************************************************************************************/
#mainmenu_container
{
	background:white url(../images/bar_back.png) repeat-x left top;
	width:100%;
	position:fixed;
	top:0;
	height:40px;
	z-index: 100;
}

#mainmenu
{
	margin: 0 auto;
	max-width: 950px;
	text-align:right;
	z-index: 100;

	.logo
	{
		background-image: url(../images/logo.png);
		background-repeat: no-repeat;
		background-position: 0 2px;
		float:left;
		padding:20px 36px;
	}

	ul
	{
		padding:10px 16px;
		margin:0px;
		 li
		{
			display: inline;

			a
			{
				color:#ffffff;
				background-color:transparent;
				text-decoration:none;
				padding:12px 12px 7px 12px;
				font-size: 0.9em;
			}

			a:hover, a.active
			{
				border-bottom: white 4px solid;
			}

		}

	}
}

#search {
	display: block;
	float: left;
	margin: 7px 0px 10px 30px;
	padding:0px;
	padding-left:5px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	border: 0;
	border-radius: 3px;
	letter-spacing: -1px;
	width: 50%;
	font-size: 15px;

	&:focus {
		background: white;
	}

	&::-webkit-input-placeholder {
	   color: rgba(0, 0, 0, 0.6) ;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: rgba(0, 0, 0, 0.8) ;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: rgba(0, 0, 0, 0.8) ;
	}

	&:-ms-input-placeholder {
	   color: rgba(0, 0, 0, 0.8) ;
	}

}









/* HISTORY */
#slider {
	height: 20px;
}

#add_activity_link {
	width:100%;
	float:left;
}

.history_line {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	position: relative;
	width:450px;

	/*line*/
	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: 10px;
		background: @red;
		left: 5%;
		margin-left: -14px;
		z-index: 0;
		box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.2), 0 0 2px 3px rgba(255, 255, 255, 0.2) inset;
	}


	/* post */
	& > li .info {
		margin: 0 0 15px 12%;
		background-color: @light_gray;
		color: @dark_gray;
		padding: 10px 10px 10px 15px;
		font-weight: 300;
		line-height: 1.4;
		position: relative;
		.rounded_corners(5px);
		border: 1px solid white;
		box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2), 0 0 16px 4px rgba(255, 255, 255, 0.6) inset;
		display: inline-block;
		width:100%;
		/* 		text-shadow: 0px 0px 4px #000; */

		.performance {
			font-size: 2.4em;
			font-weight: 100;
		}

		.date {
			font-style: italic;
		}

		.discipline {
		}

		.deleteActivity {
			float: right;
			background-image: url('../images/ui/delete.png');
			background-repeat: no-repeat;
			min-width: 16px;
		}

		.editActivity {
			float: right;
			background-image: url('../images/ui/edit.png');
			background-repeat: no-repeat;
			min-width: 18px;
		}
	}

	/* odd post */
	& > li:nth-child(odd) .info {
		background-color: @lightgray ;
	}

	/* info end point (left) */
	& > li .info:after {
		right: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-right-color: @light_gray;
		border-width: 10px;
		top: 10px;
	}

	& > li:nth-child(odd) .info:after {
		border-right-color: @lightgray;
	}


	/* ADD activity */
	& > li .add_activity{
		background: @lightgray !important;
		color: #fff;
		padding: 0.4em;
		font-size: 1.1em;
		position: relative;
		border-radius: 5px;
		border:1px solid @lightgray;
		border-left: none;
		margin-bottom: 30px;
		text-align: right;
		overflow: hidden;
		text-align: left;
		text-shadow: none;

		.data_entry {
			color: black;

			div {
				float:left;
			}

			label {
				font-size: 0.8em;
				padding:0px;
				margin:0px;
			}

			input {
				.rounded_corners(5px);
				box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset;
				border:1px white solid;
				padding: 6px;
				text-align: center;
			}

			.submit_buttons {
			}
		}

	}

	/* EDIT activity */
	#edit_activity_form {
			color: black;
			position: relative;

			div {
				float:left;
			}

			label {
				font-size: 0.8em;
				padding:0px;
				margin:0px;
			}

			input {
				.rounded_corners(5px);
				box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset;
				border:1px white solid;
				padding: 6px;
				text-align: center;
			}

			.submit_buttons {
			}

	}

	& > li .end {
		width:200px;
		margin: 0 0 15px 10%;
		line-height: 1.2;
		position: relative;
		border-radius: 5px;
		background-color: @mediumgray;
		color: white;
		padding: 0.5em;
		font-size: 1em;
		font-style: italic;
		position: relative;
		border-radius: 5px;
		border:1px solid @lightgray;
		margin-bottom: 30px;
		text-align: center;
	}


	& > li .info h2 {
		margin-top: 0px;
		padding: 0 0 10px 0;
		border-bottom: 1px solid rgba(255,255,255,0.4);
	}




/* The icons */
	& > li .icon_back {
		width: 40px;
		height: 40px;
		font-size: 1em;
		line-height: 40px;
		position: absolute;
		background: none;
		.rounded_corners(50%);
		box-shadow: 0 0 0 8px @dark_gray;
		text-align: center;
		left: 5%;
		/*top: 0;*/
		z-index: -5; /* has to be < 0 for being under the history line */
		margin: 0 0 0 -6.5%;
	}

		& > li .icon {
		width: 40px;
		height: 40px;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		font-size: 1em;
		line-height: 40px;
		position: absolute;
		color: black;
		background: white;
		.rounded_corners(50%);
		text-align: center;
		left: 5%;
		/*top: 0;*/
		margin: 0 0 0 -6.5%;
		.background_shadow();
	}
}


#footer
{
	padding: 1em;
	margin: 1em 1.8em;
	font-size: 0.8em;
	text-align: center;
	border-top: 0.1em solid @red;
}

#logo {
	padding: 1em 2em;
	font-size: 200%;
}

.row {
	width:100%;
	padding:10px 0px;
	display: block;

}


.hidden {
	display:none;
}


.floatleft {
	float:left;
}

.floatright {
	float:right;
}

.clearfloat {
	float:none;
}

a
{
	text-decoration: none;
	color:@red;

	&:visited
	{
		color:@red;
	}
}








/*******************************************************************************************************************************
 * 							                                                                   	  ACTION BUTTONS               *
 ******************************************************************************************************************************/

input.btn_neutral {
	background: #e3e3e3;
	border: 1px solid #bbb;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	color: #333;
	font: bold 12px/1;
	padding: 2px 0;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 100px;
	height: 25px;

		&:hover {
			background: #d9d9d9;
			-webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
			box-shadow: inset 0 0 1px 1px #eaeaea;
			color: #222;
			cursor: pointer;
		}

		&:active {
		    background: #d0d0d0;
		    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
		    box-shadow: inset 0 0 1px 1px #e3e3e3;
		    color: #000;
	    }
}

input.btn_neutral_gray {
	background-color: #eeeeee;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
	background-image: linear-gradient(top, #eeeeee, #cccccc);
	border: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	border-radius: 3px;
	color: #333;
	font: bold 11px/1 ;
	padding: 3px 0;
	text-align: center;
	text-shadow: 0 1px 0 #eee;
	width: 100px;
	height: 25px;

	&:hover {
		background-color: #dddddd;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
		background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
		background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
		background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
		background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
		background-image: linear-gradient(top, #dddddd, #bbbbbb);
		border: 1px solid #bbb;
		border-bottom: 1px solid #999;
		cursor: pointer;
		text-shadow: 0 1px 0 #ddd;
	}

	&:active {
		border: 1px solid #aaa;
		border-bottom: 1px solid #888;
		-webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
		box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
	}
}

input.btn_green {
	background-color: #7fbf4d;
	border: 1px solid #63a62f;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
	color: #fff;
	font-size:1em;
	padding: 2px 0;
	text-align: center;
	text-shadow: 0 -1px 0 #4c9021;
	width: 100px;
	height: 25px;

	&:hover {
		background-color: #76b347;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
		background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
		background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
		background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
		background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
		background-image: linear-gradient(top, #76b347, #5e9e2e);
		-webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
		box-shadow: inset 0 1px 0 0 #8dbf67;
		cursor: pointer;
	}

	&:active {
		border: 1px solid #5b992b;
		border-bottom: 1px solid #538c27;
		-webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
		box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
	}

}

input.btn_blue_1 {
	background-color: #d7e5f5;
	border-top: 1px solid #abbbcc;
	border-left: 1px solid #a7b6c7;
	border-bottom: 1px solid #a1afbf;
	border-right: 1px solid #a7b6c7;
	border-radius: 3px;
	color: #1a3e66;
	font: normal 11px/1 ;
	padding: 2px 0;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
	width: 100px;
	height: 25px;

	&:hover {
		background-color: #ccd9e8;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd9e8), color-stop(100%, #c1d4e8));
		background-image: -webkit-linear-gradient(top, #ccd9e8, #c1d4e8);
		background-image: -moz-linear-gradient(top, #ccd9e8, #c1d4e8);
		background-image: -ms-linear-gradient(top, #ccd9e8, #c1d4e8);
		background-image: -o-linear-gradient(top, #ccd9e8, #c1d4e8);
		background-image: linear-gradient(top, #ccd9e8, #c1d4e8);
		border-top: 1px solid #a1afbf;
		border-left: 1px solid #9caaba;
		border-bottom: 1px solid #96a3b3;
		border-right: 1px solid #9caaba;
		-webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
		box-shadow: inset 0 1px 0 0 #f2f2f2;
		color: #163659;
		cursor: pointer;
	}

	&:active {
		border: 1px solid #8c98a7;
		-webkit-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
		box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
	}

}

input.btn_blue_2 {
	background-color: #a5b8da;
	border-top: 1px solid #758fba;
	border-right: 1px solid #6c84ab;
	border-bottom: 1px solid #5c6f91;
	border-left: 1px solid #6c84ab;
	border-radius: 4px;
	color: #fff;
	font: bold 11px/1 ;
	padding: 2px 0;
	text-align: center;
	text-shadow: 0 -1px 1px #64799e;
	width: 100px;
	height: 25px;

	&:hover {
		background-color: #9badcc;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
		background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
		background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
		background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
		background-image: -o-linear-gradient(top, #9badcc, #687fa6);
		background-image: linear-gradient(top, #9badcc, #687fa6);
		border-top: 1px solid #6d86ad;
		border-right: 1px solid #647a9e;
		border-bottom: 1px solid #546685;
		border-left: 1px solid #647a9e;
		-webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
		box-shadow: inset 0 1px 0 0 #a5b9d9;
		cursor: pointer;
	}

	&:active {
		border: 1px solid #546685;
		-webkit-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
		box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
	}
}

/* cancel button */
.cancel_link {
	font-size: 0.6em;
	margin:0px;
	padding: 0px 5px;
	font-weight: 400;
}

















/*******************************************************************************************************************************
 * 							                                                                      PROFILE                      *
 ******************************************************************************************************************************/

/*profile container (profile pic and full name)*/
#profile_container {
	margin: 55px auto 0px auto;
	width: 100%;
	height: 250px;
	.rounded_corners (5px);




	#image_container {
		width: 150px;
		margin: 0px auto;


		position: relative;

		img {
			width: 140px;
			margin: 5px auto 0px;
			.rounded_corners (70px);
			box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.3);
			display: block;
			/*border:4px solid white; */

		}
	}


	#profileFullName {
		text-align: center;
		width:100%;
		color: @dark_gray;

		h3 {
			font-weight: 400;
			text-shadow: 0px 0px 6px #666;
			margin: 0px;
		}

		p {
			font-size: 0.9em;
			font-weight: lighter;
			margin:0px;
		}
	}
}

/*********************************************************** /PROFILE ***************************************/


/*******************************************************************************************************************************
* 							                                                                      STATISTICS                  *
******************************************************************************************************************************/
.discipline_button {
	float: left;
	padding: 0.5em;
	margin-right: 1em;
}

#dashboard {
	margin-top: 30px;
}
/*********************************************************** /STATISTICS ***************************************/


/*******************************************************************************************************************************
* 							                                                                      SETTINGS                    *
******************************************************************************************************************************/

#settingsNav {
	float:left;
	width:170px;
	border-right: 1px solid rgba(0,0,0,0.2);
	padding-top:60px;

	ul {
		list-style: none;
		padding-left: 0px;
		border-top: 1px solid rgba(0,0,0,0.2);

		li {
			border-bottom: 1px solid rgba(0,0,0,0.2);
			padding:5px;

			&:hover {
				background-color: @light_gray;
			}
		}


		.active {
			background-color: @selectedOptionBackground;
		}

		.logout {
			border-top: 1px solid rgba(0,0,0,0.2);
			margin-top : 20px;
		}
	}




}


.settingsContent {
	float:right;
	width:730px;
	padding-left:10px;
	padding-top: 60px;

	h3 {
		width: 100%;
		text-align: center;
	}

	form {
		width:100%;
		display: inline-block;
		margin: 0px;
		padding: 3px 0px;

		label {
			font-size: 1em;
			float:left;
		}

		.textarea {
			width: 550px;
			max-width: 550px;
		}

	}

	.settingsElement {
		border-bottom: 1px solid @lightgray;
		padding: 10px 5px;

		input {
			border: none;
			font-size: 1em;

			&[type="radio"] {
				-webkit-appearance: radio;
			}
		}

		textarea {
			border: none;
			font-size: 1em;
		}

		.existed {
			display: inline-block;
		}

		&:hover{
			background-color: @light_gray;
		}
	}

	.non_editable {
		display: block;
	}

	.editable {
		display: none;
	}
	/*
		.editable {
			background-color: @light_gray;

			input {
				.rounded_corners(5px);
				box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset;
				border:1px white solid;
			}

			textarea {
				.rounded_corners(5px);
				box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset;
				border:1px white solid;
			}
		}
	*/

	.submitButtonsVisible {
		display: block;
		width:150px;
	}

	.submitButtonsHide {
		visibility: hidden;
	}


	.editLink {
		float:right;
	}

}













/******************************************************/
/*					DATEPICKER		 				  */
/******************************************************/

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    width: 240px;
    padding: 8px;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	&.is-bound {
	    position: absolute;
	    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
	}

    &.is-hidden {
	    display: none;
	}

}

.pika-title {
    position: relative;
    text-align: center;

    select {
	    cursor: pointer;
	    position: absolute;
	    z-index: 9998;
	    margin: 0;
	    left: 0;
	    top: 5px;
	    filter: alpha(opacity=0);
	    opacity: 0;
	}

}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;

    &:hover {
	    opacity: 1;
	}

	&.is-disabled {
	    cursor: default;
	    opacity: .2;
	}


}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;

    th, td {
	    width: 14.285714285714286%;
	    padding: 0;
	}

	th {
	    color: #999;
	    font-size: 12px;
	    line-height: 25px;
	    font-weight: bold;
	    text-align: center;
	}

}


.pika-button {
    cursor: pointer;
    display: block;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;

    &:hover {
	    color: #fff !important;
	    background: #ff8000 !important;
	    box-shadow: none !important;
	    border-radius: 3px !important;
	}

}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}







/*******************************************************************************************************************************
 * 							                                                                      RIBBONS                      *
 ******************************************************************************************************************************/

.ribbon {
	position: absolute;
	top: 0;
	right: 0;

	/* reset certain elements (in case of conflicting CSS for classes, links, etc.) */
	.text, .banner, a {
		margin: 0;
	    padding: 0;
	    border: 0;
	    outline: 0;
	    font-size: 100%;
	    vertical-align: baseline;
	    background: transparent;
	}

	a {
		color: #fff;
		text-decoration: none;
	}

	.banner {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		color: #fff;
		-webkit-font-smoothing: antialiased;
		display: block;
		float: right;
		position: relative;
		right: -14px;
		top: 22px;
		width: 100px;

		&::after, &::before {
			content: '';
			display: block;
			height: 12px;
			position: absolute;
			width: 30px;
		}

		&::before {
			-webkit-transform: skewY(-45deg) translate(50%,15px);
			-moz-transform: skewY(-45deg) translate(50%,15px);
			-ms-transform: skewY(-45deg) translate(50%,15px);
			-o-transform: skewY(-45deg) translate(50%,15px);
			-webkit-transform-origin: 100% center;
			-moz-transform-origin: 100% center;
			-ms-transform-origin: 100% center;
			-o-transform-origin: 100% center;
			left: -45px;
		}

		&::after {
			-webkit-transform: translate(100%,-100%) skewY(45deg) translateX(-58%);
			-moz-transform: translate(100%,-100%) skewY(45deg) translateX(-58%);
			-ms-transform: translate(100%,-100%) skewY(45deg) translateX(-58%);
			-o-transform: translate(100%,-100%) skewY(45deg) translateX(-58%);
			-webkit-transform-origin: 0 center;
			-moz-transform-origin: 0 center;
			-ms-transform-origin: 0 center;
			-o-transform-origin: 0 center;
			right: -17px;
		}


	}

}

.no-css-transforms .ribbon {
	font-size: 1em;
	position: relative;
	width: 100%;
}

.no-css-transforms .ribbon .banner {
	position: static;
	width: 100%;
	float: none;
	font-size: 10px;
}

.ribbon .text {
	position: relative;
	z-index: 2;
	padding: 6px 0;
	font-size: 12px;
	font-weight: bold;
	min-height: 18px;
	line-height: 18px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.20);
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ribbon .text::before,
.ribbon .text::after {
	content: '';
	display: block;
	height: 30px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.ribbon .text::before {
	-webkit-transform: translateX(-15%) skewX(-45deg);
	-moz-transform: translateX(-15%) skewX(-45deg);
	-ms-transform: translateX(-15%) skewX(-45deg);
	-o-transform: translateX(-15%) skewX(-45deg);
}

.ribbon .text::after {
	-webkit-transform: translateX(15%) skewX(45deg);
	-moz-transform: translateX(15%) skewX(45deg);
	-ms-transform: translateX(15%) skewX(45deg);
	-o-transform: translateX(15%) skewX(45deg);
}

.no-css-transforms .ribbon .text {
	height: 25px;
	padding: 3px;
}

/* yellow */
.ribbon-yellow .banner::after,
.ribbon-yellow .banner::before {
	background-color: #f2ba00;
}
.ribbon-yellow .text::before,
.ribbon-yellow .text::after,
.no-css-transforms .ribbon-yellow .text {
	background-color: #ffd95e;
}

/* red */
.ribbon-red .banner::after,
.ribbon-red .banner::before {
	background-color: #bd362f;
}
.ribbon-red .text::before,
.ribbon-red .text::after,
.no-css-transforms .ribbon-red .text {
	background-color: #ee5f5b;
}















/******************************************************/
/*			MULTIPLE DEVICES SUPPORT				  */
/******************************************************/

/******************************************************************************************************************************************************/
/* Smartphones (portrait and landscape)   *********************************************************************************************************** */
/******************************************************************************************************************************************************/
/*
@media screen and (max-width : 767px) {
	body
	{
		background: rgba(0, 0, 0, 0.4);
	}

}
*/

/*******************************************************************************************************************************************************/
/* Tablet 	 ***************************************************************************************************************** */
/*******************************************************************************************************************************************************/
@media screen and (min-width : 100px) and (max-width : 992px) {
	body
	{
		background: rgba(0,0,0, 0.3);
	}

	#content
	{
	}

	#main_content
	{
		max-width: 990px;
		min-width: 420px;
		width: 100%;
		margin: 0px auto;
		padding: 50px auto;
		background-color: none;
		border: none;
	}

	/* MENU ITEMS */
	.menu_profile{}

	.menu_statistics{
			display : none;
	}

	.menu_settings{}



	//------SETTINGS
	#settingsNav {
		border-right: none;
		padding-top:60px;
		width:100%;

		ul {
			list-style: none;
			padding-left: 0px;
			border-top: 1px solid rgba(0,0,0,0.2);

			li {
				border-left: 1px solid rgba(0,0,0,0.2);
				border-right: 1px solid rgba(0,0,0,0.2);
				padding:5px;
				float:left;
				width: 40%;
				text-align: center;

				&:hover {
					background-color: @light_gray;
				}
			}


			.active {
				background-color: @selectedOptionBackground;
			}

			.logout {
				border-top: none;
				margin-top: 0px;
				text-align: center;
				float:right;
				width : 10%;
			}
		}
	}


	.settingsContent {
		float:right;
		width:100%;
		padding-left:10px;
		padding-top: 60px;

		h3 {
			width: 100%;
			text-align: center;
		}

		form {
			width:100%;
			display: inline-block;
			margin: 0px;
			padding: 3px 0px;

			label {
				font-size: 1em;
				float:left;
			}

			.textarea {
				width: 550px;
				max-width: 550px;
			}

		}

		.settingsElement {
			border-bottom: 1px solid @lightgray;
			padding: 10px 5px;

			input {
				border: none;
				font-size: 1em;

				&[type="radio"] {
					-webkit-appearance: radio;
				}
			}

			textarea {
				border: none;
				font-size: 1em;
			}

			.existed {
				display: inline-block;
			}

			&:hover{
				background-color: @light_gray;
			}
		}

		.editable {
			background-color: @light_gray;

			input {
				.rounded_corners(5px);
				box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset;
				border:1px white solid;
			}

			textarea {
				.rounded_corners(5px);
				box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset;
				border:1px white solid;
			}
		}

		.submitButtonsVisible {
			display: block;
			width:150px;
		}

		.submitButtonsHide {
			visibility: hidden;
		}


		.editLink {
			float:right;
		}

	}


}


/********************************************************************************************************************************************************/
/* iOS - retina		 ************************************************************************************************************************** */
/********************************************************************************************************************************************************/
/*
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
}
*/

















/******************************************************/
/*					FUNCTIONS		 				  */
/******************************************************/

/*rounded corners function : 5px is default radius*/
.rounded_corners(@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.background_shadow() {
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM5JSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 39%, rgba(225,225,225,1) 49%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(39%,rgba(241,241,241,1)), color-stop(49%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 39%,rgba(225,225,225,1) 49%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 39%,rgba(225,225,225,1) 49%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 39%,rgba(225,225,225,1) 49%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 39%,rgba(225,225,225,1) 49%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-8 */

}


