.history_line {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    position: relative;
    /* post */

    & > li .info {
        margin: 0 0 15px 0;
        background-color: white;
        color: @black;
        padding: 10px 10px 10px 15px;
        font-weight: 300;
        line-height: 1.4;
        position: relative;
        .rounded_corners(5px);
        border: 1px solid;
        border-color: #e5e6e9 #dfe0e4 #d0d1d5;
        display: inline-block;
        width: 100%;

        .dropdown {
            .dropdown-toggle {
                color: @black_50;rs

                &:hover {
                    text-decoration: none;
                    color: @black;
                }
            }

            .dropdown-menu {
                min-width: 90px;
                right: 0px;
                left: auto;
            }
        }

        .current_data {
            .flexbox();
            .flex-column;

            h2 {
                margin-top: 5px;
                margin-bottom: 0px;

                .competition {
                    margin-left: 5px;
                }
            }

            p { //all p's
                margin: 0px;
                color: @black_75;
                font-weight: 400;
                overflow-wrap: break-word;
            }

            .location-date {
                font-size: 1em;
                margin: 5px 0px;
                color: @black_50;
            }

            .notes {
                font-size: 1.2em;
            }

            .privacy {
                .align-self(flex-start);
            }
        }
        .deleteActivity {
            float: right;
            background-repeat: no-repeat;
            min-width: 16px;
        }
        .editActivity {
            float: right;
            background-repeat: no-repeat;
            min-width: 18px;
        }
        &.editable {
            border: 2px solid;
            background-color: #fcf8e3; //same as bootstrap's bg-warning background color
            border-color: @orange_message_back;
        }
    }

    & > li .add_activity {
        padding: 0px;
        position: relative;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: left;
        text-shadow: none;
    }

    & > li .add_activity, .edit_activity {
        font-size: 1.1em;
        .data-entry {
            color: black;
            .flexbox();
            .justify-content(left);
            .flex-column;
            .performance_fields {
                .flexbox;
                .flex-row;
                .align-items(left);
                .justify-content(flex-start);
                div {
                    text-align: center;
                    margin-right: 2%;
                }
                input {
                    text-align: center;
                }
            }
            div:not(._720kb-datepicker*) {
                .flexbox;
                .flex-column;
                .align-items(left);
            }
        }
        .submit_buttons {
            .align-self(center);
            margin-top: 10px;
        }
    }
    & > li .end {
        width: 200px;
        margin: auto;
        line-height: 1.2;
        position: relative;
        border-radius: 5px;
        background-color: @black_50;
        color: white;
        padding: 0.5em;
        font-size: 1.1em;
        font-style: italic;
        border-radius: 5px;
        border: 1px solid @black_25;
        margin-bottom: 30px;
        text-align: center;
    }
}

// -- MOBILE : match cases -sm- & -xs- of bootstrap
@media (max-width: 767px) {
    .history_line {
         & > li .info {
            margin: 0 0 3px 0;
            .rounded_corners(0px);
            border: 1px solid @black_25;
            box-shadow: none;
         }

    }
}



















