html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  color: #555;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  background: white;
  height: 100%;
}
/*error message - text width - right of the label*/
.error_message {
  color: white;
  background-color: #d14337;
  padding: 3px 3px;
  text-align: left;
}
/*warning message - text width - right of the label*/
.warning_message {
  color: #e87600;
  background-color: none;
  /*  padding: 3px 3px; */

  text-align: left;
}
/*error message - full width red*/
.green_message {
  color: green;
  background-color: #c6fdbc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 3px 0px;
  padding: 3px 3px;
  text-align: left;
}
/******************************************************/
/*          LOGIN               */
/******************************************************/
#login {
  visibility: visible;
}
#registration {
  visibility: visible;
  float: left;
}
#welcome_container {
  background-image: url('../images/welcome/01.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
#welcome_logo {
  font-size: 3em;
  font-style: italic;
  font-weight: 100;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: white;
  -webkit-text-shadow: 2px 2px 5px #000000;
  -moz-text-shadow: 2px 2px 5px #000000;
  -o-text-shadow: 2px 2px 5px #000000;
  -ms-text-shadow: 2px 2px 5px #000000;
  text-shadow: 2px 2px 5px #000000;
}
.welcome_form {
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  color: #494949;
  float: none;
  margin: 0px auto;
  max-width: 550px;
}
.information_message {
  color: #ffa500;
  font-size: 0.8em;
  margin-bottom: 4px;
}
/******************************************************/
/*          MESSAGE SENT              */
/******************************************************/
.message {
  width: 560px;
  padding: 5px 20px;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
/******************************************************/
/*          FUNCTIONS             */
/******************************************************/
/*rounded corners function : 5px is default radius*/
