/* PALETTE */
/* (154,187,214) */
/* (52,85,112) */
/* (185,56,56) */
/* MESSAGES */
/* BUTTONS */
.edit_svg {
  height: 15px;
  width: 15px;
  fill: rgba(0, 0, 0, 0.5);
  transition: fill 0.4s ease-in-out;
  -webkit-transition: fill 0.4s ease-in-out;
  -moz-transition: fill 0.4s ease-in-out;
}
.edit_svg:hover {
  fill: #e87600;
}
.delete_svg {
  height: 15px;
  width: 15px;
  fill: rgba(0, 0, 0, 0.5);
  transition: fill 0.4s ease-in-out;
  -webkit-transition: fill 0.4s ease-in-out;
  -moz-transition: fill 0.4s ease-in-out;
}
.delete_svg:hover {
  fill: #990100;
}
.locked_svg,
.unlocked_svg {
  height: 25px;
  width: 25px;
  fill: rgba(0, 0, 0, 0.25);
  transition: fill 0.4s ease-in-out;
  -webkit-transition: fill 0.4s ease-in-out;
  -moz-transition: fill 0.4s ease-in-out;
}
.locked_svg:hover,
.unlocked_svg:hover {
  fill: rgba(0, 0, 0, 0.75);
}
/* rounded corners function : 5px is default radius */
/* rounded corners function : 5px is default radius */
/* background_shadow() */
/* transition : function for browsers support*/
body {
  margin: 0;
  padding: 0;
  background-color: #e9eaed;
}
label {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
}
a {
  cursor: pointer;
}
#content {
  margin: 0px auto;
  float: none;
}
.alert_custom {
  position: fixed;
  top: 70px;
  z-index: 50;
}
.loading {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  min-height: 40px;
  background-image: url("../images/ui/loading.gif");
  background-repeat: no-repeat;
  background-position-x: center;
}
/*error message - text width - right of the label*/
/*warning message - text width - right of the label*/
/*error message - full width red*/
.filters-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 0px;
  list-style-type: none;
}
.filters-row li {
  margin-right: 10px;
  flex-shrink: 0;
}
.filters-row a {
  cursor: pointer;
  text-decoration: none;
}
.filters-row a:hover {
  font-weight: bold;
  text-decoration: none;
}
#mainmenu_container {
  background: #ffffff url("../images/bar_back.png") repeat-x left top;
  position: fixed;
  top: 0;
  height: 40px;
  z-index: 100;
}
#mainmenu {
  text-align: right;
  z-index: 100;
}
#mainmenu .logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: 0 2px;
  float: left;
  padding: 20px 36px;
}
#mainmenu .dropdown_container {
  background-color: rgba(0, 0, 0, 0.75);
  height: 400px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-rbottom-left-adius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-rbottom-right-adius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#mainmenu .dropdown_container .flex_wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}
#mainmenu .dropdown_container .search {
  margin: 20px 0px 10px 0px;
  padding: 0px;
  padding-left: 5px;
  height: 30px;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  letter-spacing: -1px;
  width: 95%;
  font-size: 15px;
  background: white;
  flex-grow: 1;
  align-self: center;
}
#mainmenu .dropdown_container .navigation_menu {
  flex-grow: 1;
  align-self: center;
}
#mainmenu ul.navigation_menu {
  padding: 10px 16px;
  margin: 0px;
}
#mainmenu ul.navigation_menu li {
  display: inline;
}
#mainmenu ul.navigation_menu li a {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
  padding: 12px 12px 5px 12px;
  font-size: 0.9em;
  border-bottom: 5px solid transparent;
  transition: border 400ms ease-in-out;
  -webkit-transition: border 400ms ease-in-out;
  -moz-transition: border 400ms ease-in-out;
}
#mainmenu ul.navigation_menu li a:hover,
#mainmenu ul.navigation_menu li a.active {
  border-bottom: white 5px solid;
}
#mainmenu #search_results {
  background-color: white;
  width: 440px;
  float: left;
  display: none;
  margin-left: 105px;
  margin-top: -10px;
  text-align: left;
}
#mainmenu #search_results li {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-top: 1em;
  padding-bottom: 1em;
}
#mainmenu #search_results li a {
  color: rgba(0, 0, 0, 0.75);
  width: 100%;
  border: none;
}
#mainmenu #search_results li a .name {
  font-weight: 600;
  font-size: 1.2em;
}
#mainmenu #search_results li a .details {
  font-weight: 300;
  font-size: 0.8em;
}
#mainmenu #search_results li a:hover {
  border: none;
}
#mainmenu #search_results li:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
#mainmenu .search {
  display: block;
  float: left;
  margin: 7px 0px 10px 30px;
  padding: 0px;
  padding-left: 5px;
  height: 26px;
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  border-radius: 3px;
  letter-spacing: -1px;
  width: 50%;
  font-size: 15px;
}
#mainmenu .search:focus {
  background: white;
}
#mainmenu .search:focus .loading {
  background-image: url("../images/ui/loading.gif");
  background-repeat: no-repeat;
  background-position: 99% 50%;
  background-size: 20px;
}
#mainmenu .search::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
#mainmenu .search:-moz-placeholder {
  /* Firefox 18- */

  color: rgba(0, 0, 0, 0.8);
}
#mainmenu .search::-moz-placeholder {
  /* Firefox 19+ */

  color: rgba(0, 0, 0, 0.8);
}
#mainmenu .search:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
}
/*profile container (profile pic and full name)*/
#profile_container {
  margin: 55px auto 0px auto;
  height: 250px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#profile_container #image_container {
  width: 150px;
  margin: 0px auto;
  position: relative;
}
#profile_container #image_container img {
  width: 140px;
  margin: 5px auto 0px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  border-radius: 70px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.3);
  display: block;
  /*border:4px solid white; */

}
#profile_container #profileFullName {
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
}
#profile_container #profileFullName h3 {
  font-weight: 400;
  text-shadow: 0px 0px 6px #666;
  margin: 0px;
}
#profile_container #profileFullName p {
  font-size: 0.9em;
  font-weight: lighter;
  margin: 0px;
}
.history_line {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  position: relative;
  /* post */

}
.history_line > li .info {
  margin: 0 0 15px 0;
  background-color: white;
  color: #000000;
  padding: 10px 10px 10px 15px;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 100%;
}
.history_line > li .info .current_data {
  display: flex;
  flex-direction: column;
}
.history_line > li .info .current_data h1 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.history_line > li .info .current_data .competition {
  margin-left: 5px;
}
.history_line > li .info .current_data blockquote {
  display: flex;
  flex-direction: column;
}
.history_line > li .info .current_data blockquote div {
  display: flex;
  flex-direction: row;
}
.history_line > li .info .current_data .privacy {
  align-self: flex-start;
}
.history_line > li .info .deleteActivity {
  float: right;
  background-repeat: no-repeat;
  min-width: 16px;
}
.history_line > li .info .editActivity {
  float: right;
  background-repeat: no-repeat;
  min-width: 18px;
}
.history_line > li .info.editable {
  border: 2px solid;
  border-color: #e87600;
}
.history_line > li .add_activity {
  padding: 0.4em;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-left: none;
  margin-bottom: 30px;
  text-align: left;
  text-shadow: none;
}
.history_line > li .add_activity,
.history_line .edit_activity {
  font-size: 1.1em;
}
.history_line > li .add_activity .data_entry,
.history_line .edit_activity .data_entry {
  color: black;
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.history_line > li .add_activity .data_entry .performance_fields,
.history_line .edit_activity .data_entry .performance_fields {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: flex-start;
}
.history_line > li .add_activity .data_entry .performance_fields div,
.history_line .edit_activity .data_entry .performance_fields div {
  text-align: center;
  margin-right: 2%;
}
.history_line > li .add_activity .data_entry .performance_fields input,
.history_line .edit_activity .data_entry .performance_fields input {
  text-align: center;
}
.history_line > li .add_activity .data_entry div,
.history_line .edit_activity .data_entry div {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.history_line > li .add_activity .submit_buttons,
.history_line .edit_activity .submit_buttons {
  align-self: center;
  margin-top: 10px;
}
.history_line > li .end {
  width: 200px;
  margin: auto;
  line-height: 1.2;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5em;
  font-size: 1.1em;
  font-style: italic;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  text-align: center;
}
.discipline_button {
  float: left;
  padding: 0.5em;
  margin-right: 1em;
}
.chart-div {
  width: 100%;
}
.settings-content {
  padding-left: 10px;
  padding-top: 60px;
}
.settings-content .tab-pane {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.settings-content .tab-pane h3 {
  margin-top: 0px;
  padding-top: 1em;
  width: 100%;
  text-align: center;
}
.settings-content .tab-pane form {
  width: 100%;
  display: inline-block;
  margin: 0px;
  padding: 3px 0px;
}
.settings-content .tab-pane form label {
  font-size: 1em;
}
.settings-content .tab-pane form .textarea {
  width: 550px;
  max-width: 550px;
}
.settings-content .settings-element {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.settings-content .settings-element input {
  border: none;
  font-size: 1em;
}
.settings-content .settings-element input[type="radio"] {
  -webkit-appearance: radio;
}
.settings-content .settings-element textarea {
  border: none;
  font-size: 1em;
}
.settings-content .settings-element .existed {
  display: inline-block;
}
.settings-content .settings-element:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
.settings-content .settings-element-profile-pic {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px 5px;
}
.settings-content .settings-element-profile-pic .thumb {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle;
}
.settings-content .submitButtonsVisible {
  display: block;
  width: 150px;
}
.settings-content .submitButtonsHide {
  visibility: hidden;
}
.settings-content .editLink {
  float: right;
}
.logout {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.logout a {
  color: #990100;
  text-decoration: none;
}
.logout a:hover {
  text-decoration: none;
  cursor: pointer;
}
