
@images : '../images/';

@gray_01 : rgba(0,0,0,0.1);
@gray_03 : rgba(0,0,0,0.3);
@gray_06 : rgba(0,0,0,0.6);
@gray_09 : rgba(0,0,0,0.9);

/* PALETTE */
@snow : #E8E8E8; /* (154,187,214) */
@red : #990100; /* (52,85,112) */
@red_bright : #90504; /* (185,56,56) */
@selectedOptionBackground : rgba(0,0,0,0.1);

/* MESSAGES */
@orange_message_back : #E87600;
@red_message_back : #D14337;
@green_message_back : #C6FDBC;

/* BUTTONS */
@green: #80A010;

// @dark:  #444444;
// @light: #999999;
// @blue:  #2DB6CF;
// @white: #FFFFFF;