<div class="col-md-12" ng-if="activities.length">
    <div class="text-center">
        <div class="panel-body">
            <button class="btn btn-primary" ng-click="openActivityEditorModal()" ng-if="ownProfile" ng-disabled="!currentUser.isVerified && activities.length >= 5">
                <i class="fa fa-plus"></i>
                {{'PROFILE.ADD_NEW_ACTIVITY' | translate}}
            </button>
            <div ng-if="ownProfile && !currentUser.isVerified && activities.length >= 5">
                <br>
                <i class="fa fa-info-circle text-warning"></i>
                <span class="text-warning" translate="PROFILE.PLEASE_VERIFY_YOUR_EMAIL_EMAIL_IN_ORDER_TO_ADD_MORE_ACTIVITIES" translate-values="{email: currentUser.email}"></span>
                <br>
                <a href="" ng-show="!verificationEmailSent" ng-click="resendVerificationEmail()" translate="COMMON.RESEND_VERIFICATION_EMAIL"></a>
                <span class="text-success" ng-show="verificationEmailSent" translate="{{'SETTINGS.AN_EMAIL_HAS_BEEN_SENT_TO_EMAIL_ADDRESS'}}" translate-values="{email: currentUser.email}" translate-compile></span>
            </div>
        </div>
    </div>
</div>
<span class="spinner block-spinner" ng-show="activitiesLoading"></span>
<div class="col-md-3 hidden-sm hidden-xs" ng-if="!activitiesLoading">
    <activity-filters activities="activities" ng-model="filters.values"></activity-filters>
    <div ng-include="'/app/common/views/footerLinksView.html'"></div>
</div>
<div class="text-center col-md-6" ng-if="!activitiesLoading && !activities.length && ownProfile" ng-cloak>
    <h3 class="text-muted text-center" translate="PROFILE.WELCOME_FIRST_NAME_LETS_ADD_SOME_ACTIVITIES" translate-values="{first_name: user.firstName}"></h3>
    <br>
    <button class="btn btn-primary btn-lg" ng-click="openActivityEditorModal()" ng-if="ownProfile" ng-disabled="!currentUser.isVerified && activities.length >= 5">
        <i class="fa fa-plus"></i>
        {{'PROFILE.ADD_YOUR_FIRST_ACTIVITY_ACTIVITY' | translate}}
    </button>
</div>
<div class="text-center col-md-6" ng-if="!activitiesLoading && !activities.length && !ownProfile" ng-cloak>
    <h3 class="text-muted text-center" translate="PROFILE.THIS_USER_HASNT_CREATED_ANY_ACTIITIES_YET"></h3>
</div>
<div class="text-center col-md-6" ng-if="!activitiesLoading && activities.length && !filteredActivities.length" ng-cloak>
    <h3 class="text-muted text-center" translate="PROFILE.THERE_ARE_NO_ACTIVITIES_WITH_THESE_FILTERED_VALUES"></h3>
</div>
<div class="col-md-3" ng-if="!activitiesLoading && !activities.length && ownProfile" ng-cloak>
    &nbsp;
</div>
<div class="col-md-9">
    <div class="panel panel-default" ng-repeat="activity in filteredActivities = (activities | orderBy:'-date' | usersFilters:filters.values)">
        <div class="panel-heading">
            <span>{{activity.competition}}</span> |
            <span>{{(activity.isOutdoor ? 'PROFILE.OUTDOOR' : 'PROFILE.INDOOR') | translate}}</span> |
            <span>{{formatUnixTimestamp(activity.date)}}</span>
            <span class="pull-right text-right" ng-if="ownProfile">
                <a href="javascript:;" ng-click="openActivityEditorModal(activity)" title="{{'COMMON.EDIT' | translate}}"><i class="fa fa-edit text-warning" aria-hidden="true"></i></a>
                <a href="javascript:;" ng-click="deleteActivity(activity)" title="{{'COMMON.DELETE' | translate}}" confirm="{{'PROFILE.ARE_YOU_SURE_YOU_WANT_TO_DELETE_THIS_ACTIVITY' | translate}}" confirm-title="{{'PROFILE.DELETE_ACTIVITY' | translate}}" confirm-ok="{{'COMMON.YES' | translate}}" confirm-cancel="{{'COMMON.CANCEL' | translate}}" confirm-settings="{size: 'sm'}">
                    <i class="fa fa-remove text-danger" aria-hidden="true"></i>
                </a>
            </span>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 activity-picture-wrapper" ng-if="activity.picture">
                <img ng-src="{{activity.getPicture('md')}}" class="activity-picture">
            </div>
            <span class="col-xs-9">
                <h4><span ng-bind-html="activity.getReadablePerformance()"></span> <small class="text-muted" translate="{{'DISCIPLINES.' + activity.discipline.toUpperCase()}}"></small></h4>
            </span>
            <div class="col-xs-12">
                <div ng-if="activity.rank">
                    <b translate="PROFILE.RANK"></b>:
                    <span>{{activity.rank}}</span>
                </div>
                <div ng-if="activity.location">
                    <b translate="PROFILE.LOCATION"></b>:
                    <span>{{activity.location}}</span>
                </div>
                <div ng-if="activity.comments">
                    <b translate="PROFILE.COMMENTS"></b>:
                    <span>{{activity.comments}}</span>
                </div>
                <div ng-if="activity.notes">
                    <b translate="PROFILE.NOTES"></b>:
                    <span>{{activity.notes}}</span>
                </div>
            </div>
        </div>
    </div>
</div>