<div class="panel mb30 panel-lined activity-panel" ng-repeat="discipline in graphActivities.order | filter:graphListFilter">
    <div class="panel-heading"><i>{{"DISCIPLINES." + discipline.toUpperCase() | translate}}</i></div>
    <div class="panel-body">
        <div class="activity-lead full-inline-block">
            <div class="chart-wrapper row">
                <linechart class="graph" data="graphActivities.activities" options="graphActivities.options[discipline]"></linechart>
            </div>
        </div>
    </div>
</div>

