<div ng-if="profileFound">
    <div class="jumbotron">
        <div class="container">
            <div class="col-xs-12">
                    <h2 class="text-center">{{user.firstName + ' ' + user.lastName}}</h2>
                    <h4 class="text-center" ng-if="user.discipline || user.country">
                        <span ng-if="user.discipline">{{'DISCIPLINES.' + user.discipline.toUpperCase() | translate}}</span>
                        <span ng-if="user.discipline && user.country">&bull;</span>
                        <span ng-if="user.country">{{'COUNTRIES.' + user.country.toUpperCase() | translate}}</span>
                    </h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12">
            <div class="col-md-12">
                <div class="text-center">
                    <div class="panel-body">
                        <button class="btn btn-primary" ng-click="App.openActivityEditorModal()" ng-if="ownProfile">
                            <i class="glyphicon glyphicon-plus"></i>
                            {{'PROFILE.ADD_NEW_ACTIVITY' | translate}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default" ng-if="activities.length">
                    <div class="panel-body">
                        Filters
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default"  ng-repeat="activity in activities | orderBy:'-date'">
                    <div class="panel-body">
                        <span class="col-xs-9"><h4>{{activity.getReadablePerformance()}} <small class="text-muted" translate="{{'DISCIPLINES.' + activity.discipline.toUpperCase()}}"></small></h4></span>
                        <span class="col-xs-3 text-right" ng-if="ownProfile">
                            <a href="javascript:;" ng-click="App.openActivityEditorModal(activity)" title="{{'COMMON.EDIT' | translate}}"><i class="glyphicon glyphicon-edit text-warning" aria-hidden="true"></i></a>
                            | <a href="javascript:;" ng-click="deleteActivity(activity)" title="{{'COMMON.DELETE' | translate}}"><i class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></i></a>
                        </span>
                        <div class="col-xs-12">{{activity.competition}}</div>
                        <div class="col-xs-12">{{formatUnixTimestamp(activity.date)}}</div>
                        <a href="javascript:;" ng-show="activity.rank || activity.location || activity.notes" class="col-xs-12" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">{{(isCollapsed ? 'PROFILE.SHOW_DETAILS' : 'PROFILE.HIDE_DETAILS') | translate}}</a>
                        <div class="col-xs-12" uib-collapse="isCollapsed">
                            <div ng-if="activity.rank">`
                                <b translate="PROFILE.RANK"></b>:
                                <span>{{activity.rank}}</span>
                            </div>
                            <div ng-if="activity.location">
                                <b translate="PROFILE.LOCATION"></b>:
                                <span>{{activity.location}}</span>
                            </div>
                            <div ng-if="activity.notes">
                                <b translate="PROFILE.NOTES"></b>:
                                <span>{{activity.notes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="!profileFound">
    <div class="container">
        <div class="col-xs-12">
            <h3 class="text-center" translate="PROFILE.PROFILE_NOT_FOUND"></h3>
        </div>
    </div>
</div>