<div ng-if="profileFound" class="profile-page">
    <div class="jumbotron">
        <div class="container">
            <div class="col-xs-12">
                <h2 class="text-center">{{user.firstName + ' ' + user.lastName}}</h2>
                <h4 class="text-center" ng-if="user.discipline || user.country">
                    <span ng-if="user.discipline">{{'DISCIPLINES.' + user.discipline.toUpperCase() | translate}}</span>
                    <span ng-if="user.discipline && user.country">&bull;</span>
                    <span ng-if="user.country">{{'COUNTRIES.' + user.country.toUpperCase() | translate}}</span>
                </h4>
            </div>
        </div>
    </div>
    <div class="container" ng-include="'/app/profile/views/activitiesTimelineView.html'"></div>
</div>
<div ng-if="!profileFound">
    <div class="container">
        <div class="col-xs-12">
            <h3 class="text-center" translate="PROFILE.PROFILE_NOT_FOUND"></h3>
        </div>
    </div>
</div>