<div ng-if="profileFound" class="profile-page">
    <div class="jumbotron">
        <div class="container">
            <div class="col-xs-12">
                <div class="text-center">
                    <div class="avatar-profile-wrapper" ng-mouseenter="uploadPromptShown = true" ng-mouseleave="uploadPromptShown = false">
                        <a href="/settings?showImageUploadModal=true" class="avatar-upload-prompt" ng-show="uploadPromptShown" translate="COMMON.CHANGE_PICTURE"></a>
                        <img class="avatar avatar-md avatar-with-padding" ng-src="{{user.getPicture('md')}}"
                             ng-class="{'upload-prompt-visible': ownProfile && uploadPromptShown}">
                    </div>
                </div>
                <h2 class="text-center">{{user.firstName + ' ' + user.lastName}}</h2>
                <h4 class="text-center" ng-if="user.discipline || user.country">
                    <span ng-if="user.discipline">{{'DISCIPLINES.' + user.discipline.toUpperCase() | translate}}</span>
                    <span ng-if="user.discipline && user.country">&bull;</span>
                    <span ng-if="user.country">{{'COUNTRIES.' + user.country.toUpperCase() | translate}}</span>
                </h4>
            </div>
        </div>
    </div>
    <div class="container" ng-include="'/app/profile/views/activitiesTimelineView.html'"></div>
</div>
<div ng-if="!profileFound">
    <div class="container">
        <div class="col-xs-12">
            <h5 class="text-center text-muted text-light h1 text-ultra-big" translate="PROFILE.OOPS"></h5>
            <h5 class="text-center h4" translate="PROFILE.THE_PAGE_YOU_ARE_LOOKING_FOR_DOES_NOT_EXIST"></h5>
            <div class="text-center" ng-if="App.user">
                <a href="/" translate="PROFILE.BACK_TO_MY_PROFILE"></a>
            </div>
        </div>
    </div>
</div>