<div ng-if="profileFound">
    <div class="jumbotron">
        <div class="container">
            <div class="col-xs-12">
                    <h2 class="text-center">{{user.firstName + ' ' + user.lastName}}</h2>
                    <h4 class="text-center" ng-if="user.discipline || user.country">
                        <span ng-if="user.discipline">{{'DISCIPLINES.' + user.discipline.toUpperCase() | translate}}</span>
                        <span ng-if="user.discipline && user.country">&bull;</span>
                        <span ng-if="user.country">{{'COUNTRIES.' + user.country.toUpperCase() | translate}}</span>
                    </h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12">
            <div class="col-md-12">
                <div class="text-center">
                    <div class="panel-body">
                        <button class="btn btn-primary" ng-click="App.openActivityEditorModal()" ng-if="ownProfile">
                            <i class="glyphicon glyphicon-plus"></i>
                            {{'PROFILE.ADD_NEW_ACTIVITY' | translate}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default" ng-if="activities.length">
                    <div class="panel-body">
                        Filters
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default"  ng-repeat="activity in activities | orderBy:'-date'">
                    <div class="panel-body">
                        <span class="col-xs-9"><b>{{activity.getReadablePerformance()}}</b>  <span class="text-muted" translate="{{'DISCIPLINES.' + activity.discipline.toUpperCase()}}"></span></span>
                        <span class="col-xs-3 text-right" ng-if="ownProfile">
                            <a href="javascript:;" ng-click="App.openActivityEditorModal(activity)"><i class="glyphicon glyphicon-edit text-warning" aria-hidden="true"></i></a>
                            | <a href="javascript:;" ng-click="deleteActivity(activity)"><i class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></i></a>
                        </span>
                        <div class="col-xs-12">{{activity.competition}}</div>
                        <div class="col-xs-12">{{formatUnixTimestamp(activity.date)}}</div>
                        <div class="col-xs-12" ng-click="isCollapsed = !isCollapsed">Details</div>
                        <div class="col-xs-12" uib-collapse="!isCollapsed">
                            <dl>
                              <dt>Rank</dt><dd>{{activity.rank}}</dd>
                              <dt>Location</dt><dd>{{activity.location}}</dd>
                              <dt>Notes</dt><dd>{{activity.notes}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="!profileFound">
    <div class="container">
        <div class="col-xs-12">
            <h3 class="text-center" translate="PROFILE.PROFILE_NOT_FOUND"></h3>
        </div>
    </div>
</div>