[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.pull-xs-left {
  float: left !important;
}

.pull-xs-right {
  float: right !important;
}

.pull-xs-none {
  float: none !important;
}

// 768px
@media (min-width: @screen-sm-min) {
  .pull-sm-left {
    float: left !important;
  }
  .pull-sm-right {
    float: right !important;
  }
  .pull-sm-none {
    float: none !important;
  }
}

// 992px
@media (min-width: @screen-md-min) {
  .pull-md-left {
    float: left !important;
  }
  .pull-md-right {
    float: right !important;
  }
  .pull-md-none {
    float: none !important;
  }
}

// 1200px
@media (min-width: @screen-lg-min) {
  .pull-lg-left {
    float: left !important;
  }
  .pull-lg-right {
    float: right !important;
  }
  .pull-lg-none {
    float: none !important;
  }
}

body > [uib-modal-window]:not([modal-render]) {
  display: none;
}

.m-right-5 {
  margin-right: 5px;
}

.m-right-15 {
  margin-right: 15px;
}

.m-right-20 {
  margin-right: 20px;
}

.m-right-30 {
  margin-right: 30px;
}

.m-left-5 {
  margin-left: 5px;
}

.m-left-15 {
  margin-left: 15px;
}

.m-left-30 {
  margin-left: 30px;
}

.p-right-45 {
  padding-right: 45px;
}

.full-inline-block {
  width: 100%;
  display: inline-block;
}

.text-light {
  font-weight: lighter;
}

.text-ultra-big {
  font-size: 64px;
}

.avatar {
  border-radius: 50%;
  width: 128px;
  height: 128px;
  position: relative;

  &.avatar-md {
    width: 128px;
    height: 128px;

    &.avatar-with-padding {
      width: 146px;
      height: 146px;
      background-color: #fff;
      border: 1px solid #ddd;
      padding: 8px;
    }
  }

  &.avatar-sm {
    width: 64px;
    height: 64px;
  }
  &.avatar-xs {
    width: 32px;
    height: 32px;
  }
}

.spinner {
  width: 32px;
  height: 32px;
  display: inline-block;

  position: relative;
  margin: 0px auto;

  &.block-spinner {
    display: block;
    width: 100%;
  }

  &:before, &:after {
    width: 32px;
    height: 100%;
    border-radius: 50%;
    background-color: @trafie-logo-color;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: calc(~"50% - 16px");
    content: " ";

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  &:after {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
  }
}