// Navbar
.navbar .container-fluid {
  position: relative;
}

.navbar-form .input-group {
  margin-bottom: 0px;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -40px !important;  /* 50% of your logo width */
  display: block;
}

.navbar-fixed-top + div > div {
  padding-top: 70px;
  &.profile-page {
    padding-top: 50px;
  }
}

.nav-icon {
  margin-right: 5px;
}

.navbar-right-form {
  padding-right: 0px;
}

.navbar-trafie {
  background-color: @trafie-color;

  &.navbar-default .navbar-nav > li > a {
    color: #fff;
    opacity: 0.75;
    &:hover {
      opacity: 1;
    }
  }

  &.navbar-default .navbar-nav > .active > a,
  &.navbar-default .navbar-nav > .active > a:hover,
  &.navbar-default .navbar-nav > .active > a:focus {
    background-color: @trafie-color;
    border-bottom: 3px solid #fff;
    opacity: 1;
    color: #fff;
  }

  &.navbar-default .navbar-brand {
    color: #fff;
    font-weight: bold;
  }

  .navbar-form .input-group > .form-control {
    background-color: rgba(255,255,255,0);
    border-color: #fff;
    font-weight: bold;
    color: #fff;

    &:focus {
      background-color: rgba(255,255,255,0.1);
    }

    &::-webkit-input-placeholder {
      font-weight: normal;
      color: #fff;
    }
    &:-moz-placeholder { /* Firefox 18- */
      font-weight: normal;
      color: #fff;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
      font-weight: normal;
      color: #fff;
    }
    &:-ms-input-placeholder {
      font-weight: normal;
      color: #fff;
    }
  }

  .input-group-btn > .btn {
    background-color: rgba(255,255,255,0);
    color: #fff;
  }
}