.logo-container {
	.logo {
		display: block;
		background-image: url('../images/logo.svg');
		height: 80px;
		width: 80px;
		border-radius: 30%;
		margin: 0px auto;
		margin-top: 50px;
	}
}

.site-foot {
	position: static;
}