doctype html
html(ng-app="trafie-outer")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        base(href="/")
        title trafie

        link(href='/styles/styles.css' rel='stylesheet' type='text/css')

    body
        div.container(ng-view)

        include ./partials/scripts-outer.jade
