doctype html
html(ng-app="trafie")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        base(href="/")
        title trafie

        link(href='/styles/styles.css' rel='stylesheet' type='text/css')
        script(type="text/javascript").
            trafie = {
                userId: "#{userId}"
            };

    body(ng-controller="AppController as App" ng-cloak)
        nav.navbar.navbar-default
            div.container
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="/") trafie
                    div#navbar.navbar-collapse.collapse
                        ul.nav.navbar-nav.navbar-right
                            li(ng-if="App.user")
                                a(href='/settings' translate="COMMON.SETTINGS")
        div.container
            div.col-xs-12(ng-view)

        include ./partials/scripts.jade
