doctype html
html(ng-app="trafie-outer")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="apple-itunes-app" content="app-id=1055761534")
        base(href="/")
        title trafie

        link(href='/styles/styles-outer.css' rel='stylesheet' type='text/css')

    body.app.on-canvas.nav-min.layout-horizontal.body-full
        div.main-container.clearfix
            div.content-container(ng-view)
            include ./partials/footer-outer.jade

        include ./partials/scripts-outer.jade
