doctype html
html(ng-app="trafie", ng-controller="AppController as App")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="description", content="View the athlete's profile page and the activities performed in a timeline." replace-meta-content="{{App.getDescription()}}")
        if env === "production" && envInstance === "staging"
            meta(name="robots", content="noindex")
        base(href="/")
        link(rel="shortcut icon", type="image/png", href="images/favicon.png")
        title(ng-bind="'Trafie' + App.getTitle()") Trafie | Your personal track and field profile

        link(href="/bower_components/angular-notify/dist/angular-notify.min.css", rel="stylesheet", type="text/css")
        link(href="/bower_components/angular-ui-select/dist/select.min.css", rel="stylesheet", type="text/css")
        link(href="/styles/styles.css", rel="stylesheet", type="text/css")
        include ./partials/external-scripts.jade
    body
        include ./partials/navbar.jade

        div(ng-view)

        if env === "development"
            include ./partials/scripts-packages.jade
            include ./partials/scripts.jade
        else
            script(type="text/javascript", src="/app/trafie.min.js")
