div#main_content( ng-init="initProfile()"  ng-cloak)
	div#profile_container
		div#image_container
			img( src="{{current_user.picture}}" )
		div#profileFullName
			h3 {{current_user.first_name}} {{current_user.last_name}}
			p {{current_user.formatted_discipline}} 
				span( ng-show="current_user.discipline && current_user.country" ) - 
				{{current_user.country}} {{current_user.discipline}}
	
	//REMOVE STYLE FROM BOTH UL and LI
	// I NEED AN ARRAY WITH USER_DISCIPLINES OF OTHER USERS.
	// NEED IT ALSO FOR STATISTICS
	//- ul(style="margin-bottom: 40px;")
	//- 	li( ng-repeat="(key, value) in user.disciplines_of_user" style="float:left;")
	//- 		a( ng-click="getActivities( user._id, key )" ) {{value}}

	trf-active-disciplines( user_id="{{current_user._id}}" )

	div#loading( hidden )
		img( src="images/ui/loading.gif" )


	div#history_container
		ul#history_line.history_line
			//if user._id==profile._id
			li
				div.icon_back
				div.icon +
				//ADD ACTIVITY
				include partials/profile/add_activity

			li( ng-repeat="activity in activities" )
				div.icon_back
				div.icon XX
				div.info( data-activity-id="{{activity._id}}" )
					div.current_data( ng-show="!activity.show_this" )
						//if user._id==profile._id
						a.deleteActivity( ng-show="self" ng-click="deleteActivity(activity._id)" )
							include partials/svg/delete_activity_svg

						//div.ribbon.ribbon-yellow
							div.banner
								div.text Personal Best
						div.performance( data-value="{{activity.performance}}" ) {{activity.formatted_performance}}
						div.discipline( data-value="{{activity.discipline}}" ) {{activity.formatted_discipline}}
						div.date( data-value="{{activity.date}}" ) {{activity.formatted_date}}
					//if user._id==profile._id
					a.editActivity( ng-show="self" ng-click="initEditableActivity(activity)" )
						include partials/svg/edit_activity_svg

					//edit activity templates
					include partials/profile/activities_templates

			li
				div.icon_back
				div.icon *
				div.end
					div.discipline everything started here


// scripts
// script(type='text/javascript', src='/javascripts/profile.js')
// script( type='text/javascript', src='/javascripts/pikaday.min.js')
// script.
// 	//maxdate AND default day are TODAY. User can't add an activity for future event.
// 	var picker_time = new Pikaday({field: document.getElementById('datepicker_time'), firstDay: 1, minDate: new Date('2000-01-01'), maxDate: new Date(), yearRange: [2000,2020], defaultDate: new Date(), setDefaultDate: new Date() })

// 	var picker_distance = new Pikaday({field: document.getElementById('datepicker_distance'), firstDay: 1, minDate: new Date('2000-01-01'), maxDate: new Date(), yearRange: [2000,2020], defaultDate: new Date(), setDefaultDate: new Date() })

// 	var picker_point = new Pikaday({field: document.getElementById('datepicker_point'), firstDay: 1, minDate: new Date('2000-01-01'), maxDate: new Date(), yearRange: [2000,2020], defaultDate: new Date(), setDefaultDate: new Date() })

// script.
// 	profileHandlers();