div#main_content( ng-init="initProfile()"  ng-cloak)

  //- PAGE NOT FOUND
  div( ng-if="page_not_found" )
      h3 The page you are looking for doesn't exists

  //- PAGE FOUND START
  div( ng-if="!page_not_found" )
    //- PROFILE
    div#profile_container.col-xs-12.col-md-12.col-lg-12
      div#image_container
        img( src="{{current_user.picture}}" )
      div#profileFullName
        h3 {{current_user.first_name}} {{current_user.last_name}}
        p
          span( ng-show="current_user.formatted_discipline" ){{current_user.formatted_discipline}}
          span( ng-show="current_user.discipline && current_user.country" ) -
          span( ng-show="current_user.country" ){{current_user.country}}

      div( ng-if="!self")
          a( href="/statistics/{{current_user._id}}" ) View User Statistics

    //- FILTERS
    ul.filters-row.col-xs-12.col-md-12.col-lg-12
      li( ng-repeat="(key, value) in user.disciplines_of_user" style="float:left;")
        a( ng-click="getActivities( user._id, key )" ) {{value}}

    //- LOADING
    div#loading( hidden ).col-xs-12.col-md-12.col-lg-12
      img( src="images/ui/loading.gif" )

    //- HISTORY TIMELINE
    div#history_container.col-xs-12.col-sm-12.col-md-12.col-lg-12
      ul.history_line
        li
          //- div.icon_back
          //- div.icon +
          //ADD ACTIVITY
          include partials/profile/add_activity

        li.my-repeat-animation( ng-repeat="activity in activities" )
          //- div.icon_back
          //- div.icon
          div.info( data-activity-id="{{activity._id}}" )
            div.current_data( ng-show="!activity.show_editable_form" )
              a.deleteActivity( ng-if="self" ng-click="deleteActivity(activity._id)" tooltip-placement="top" tooltip="Delete")
                include partials/svg/delete_activity_svg

              //div.ribbon.ribbon-yellow
                div.banner
                  div.text Personal Best
              h1.performance( data-value="{{activity.performance}}" ) {{activity.formatted_performance}}
              h3.competition( data-value="{{activity.competition}}" ) {{activity.competition}}
              blockquote
                p.date( data-value="{{activity.date}}" ) {{activity.formatted_date}}
                p.discipline( data-value="{{activity.discipline}}" ) {{activity.formatted_discipline}}
                p( data-value="{{activity.location}}" ) {{activity.location}}
                p( data-value="{{activity.place}}" ) {{activity.place}}
                p( data-value="{{activity.notes}}" ) {{activity.notes}}

              //- WAITING activity.private FROM BACKEND
              a( style="float:left;" ng-if="self" ng-click="changePrivacyPENDING(activity._id)" tooltip-placement="top" tooltip="Change Privacy")
                  span( ng-if="!activity.private" )
                      include partials/svg/locked_svg
                  span( ng-if="activity.private" )
                    include partials/svg/unlocked_svg

            a.editActivity( ng-if="self" ng-click="initEditableActivity(activity)" tooltip-placement="top" tooltip="Edit" )
              include partials/svg/edit_activity_svg

            //edit activity templates
            include partials/profile/activities_templates

        li
          //- div.icon_back
          //- div.icon *
          div.end
            div.discipline everything started here