extends welcome_layout

block content

	div#welcome_container
		div#header
			div#welcome_logo trafie
		div.forms
			form.welcome_form.col-xs-12.col-sm-6.col-md-6.col-lg-6(method="post" role="form")
				h4 Forgot password
				if error
					div.error_message= error
				div.form-group
					label(for="email_input") Email address:
						span#email_error.login_error
					input#email_input.form-control(name="email" type="text" value="dimitra@trafie.com" autofocus)
				input.btn.btn-success.btn-lg.btn-block(type="submit", value="Send me an email")
				br
				div
					h5 
						a(href="/login") Return to login page
