extends welcome_layout

block content

	div#welcome_container
		div#header
			div#welcome_logo trafie

		div.forms
			form.welcome_form(method="post")
				h4 Choose a new password
				p Choose a new password for
				span.green_message tmathioudakis@gmail.com
				if errors.password
					div.error_message= errors.password
				if errors.repeat_password
					div.error_message= errors.repeat_password
				label(for="password") New Password
				input#password.textfield(type="password" name="password")
				label(for="repeat_password") Repeat New Password
				input#repeat_password.textfield(type="password" name="repeat_password")
				br
				input.button_green(type="submit", value="Update Password")