div( ng-controller="settingsController" ng-init="settingsInit()")

	tabset.settingsContent
		tab(heading=tr['profile_settings'])
			include partials/settings/profile
		tab(heading=tr['account_settings'])
			include partials/settings/account

	//temp loading - move to search
	div
		a( ng-click="logout()" )= tr['logout']

	//scripts
	//script(type='text/javascript', src='/javascripts/settings.js')
	//script.
		activeTab();
		settingsHandlers();

