div( ng-controller="settingsController" ng-init="settingsInit()")

	tabset.settingsContent
		tab(heading=tr['profile_settings'])
			include partials/settings/profile
		tab(heading=tr['account_settings'])
			include partials/settings/account

	//temp loading - move to search
	div#loading( hidden )
		img( src="images/ui/loading.gif" )

	//scripts
	//script(type='text/javascript', src='/javascripts/settings.js')
	//script.
		activeTab();
		settingsHandlers();

