div( ng-controller="settingsController" ng-init="settingsInit()" ng-cloak)
	div.maincontent
		tabset.settings-content.col-xs-12.col-md-12.col-lg-12
			tab(heading=tr['profile_settings'])
				include partials/settings/profile
			tab(heading=tr['account_settings'])
				include partials/settings/account

		div.logout
			a( ng-click="logout()" )= tr['logout']
