div( ng-init="statisticsInit()" )
	br
	br
	h4 {{current_user.first_name}} {{current_user.last_name}}

	ul.filters-row
		li( ng-repeat="discipline in current_user.disciplines_of_user")
			a( ng-click="drawSimpleChart( current_user._id, discipline.discipline )" ) {{discipline.formatted_discipline}}

	div.loading( ng-show="loading")

	div#chart


