extends welcome_layout

block content

	div#welcome_container
		div#header
			div#welcome_logo trafie
			if resend==1
				div.message
					p
						span.main_message It seems that your account hasn't been activated.
					p Go to
						span.green_message= email
						| &nbsp;and click the activation link.
					p OR &nbsp;
						a.resendActivationLink( href="/resend_validation_email/"+userId )
							| click here to send you again the activation e-mail.
			else
				div.message
					p
						span.main_message Your registration was succesfull!
					p Go to
						span.green_message= email
						| &nbsp;and click the activation link.
