// .ng-hide-add, .ng-hide-remove {
//     -webkit-transition: opacity .5s ease-in-out;
//     transition: opacity .5s ease-in-out;
//     /* remember to add this */
    
//     display: flex !important;
//     opacity: 1;
// }
// .ng-hide {
//     opacity: 0;
// }
// .my-repeat-animation {
//     &.ng-enter, &.ng-leave, &.ng-move {
//         -webkit-transition: 0.5s linear all;
//         transition: 0.5s linear all;
//         position: relative;
//     }
// }
// .my-repeat-animation.ng-enter {
//     left: -10px;
//     opacity: 0;
// }
// .my-repeat-animation.ng-enter.ng-enter-active {
//     left: 0;
//     opacity: 1;
// }
// .my-repeat-animation.ng-leave {
//     left: 0;
//     opacity: 1;
// }
// .my-repeat-animation.ng-leave.ng-leave-active {
//     left: -10px;
//     opacity: 0;
// }
// .my-repeat-animation.ng-move {
//     opacity: 0.5;
// }
// .my-repeat-animation.ng-move.ng-move-active {
//     opacity: 1;
// }


// Loading Spinner
.spinner {
    .flexbox;
    .align-self(center);
    height: 60px;
    width: 60px;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0, 174, 239, .15);
    border-right: 6px solid rgba(0, 174, 239, .15);
    border-bottom: 6px solid rgba(0, 174, 239, .15);
    border-top: 6px solid rgba(0, 174, 239, .8);
    border-radius: 100%;
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}
@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}