<div class="modal-header">
    <h3 class="modal-title">{{(isNewActivity ? 'PROFILE.NEW_ACTIVITY' : 'PROFILE.EDIT_ACTIVITY') | translate}}</h3>
</div>
<div class="modal-body">
    <form name="form" method="POST">
        <div class="form-group">
            <label for="discipline" translate="COMMON.DISCIPLINE"></label>
            <select class="form-control" id="discipline" name="discipline" ng-model="activity.discipline" ng-options="discipline as (discipline && 'DISCIPLINES.' + discipline.toUpperCase() || 'SETTINGS.CHOOSE_YOUR_DISCIPLINE' | translate) for discipline in disciplines"></select>
        </div>
        <div class="form-group">
            <label for="performance" translate="PROFILE.PERFORMANCE"></label>
            <performance-picker discipline="activity.discipline" ng-model="activity.performance"></performance-picker>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>