<div class="panel panel-default text-muted">
    <div class="panel-body">
        <small>© 2016</small> &bull;
        <a href="/terms-of-service" class="text-muted small" translate="TERMS_OF_SERVICE.TERMS_OF_SERVICE"></a> &bull;
        <a href="/legal" class="text-muted small" translate="LEGAL.LEGAL"></a> &bull;
        <a href="/about" class="text-muted small" translate="ABOUT.ABOUT"></a> &bull;
        <a href="javascript:;" class="text-muted small" translate="FEEDBACK.FEEDBACK" ng-click="App.showFeedbackModal()"></a>
    </div>
</div>